@charset "utf-8";

@namespace epub 'http://www.idpf.org/2007/ops';

/*
*:not(html)
{
	-PREFIXED_PROPERTY-backface-visibility: hidden;
}
*/

/*
==============================================================================

Font faces

==============================================================================

http://fortawesome.github.io/Font-Awesome/cheatsheet/

http://www.entypo.com/characters/
*/

@font-face
{
	font-family: 'FontAwesome';
	src: url('FontAwesome.woff') format('woff')
	/* url('FontAwesome.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_400.woff') format('woff')
	/* ,url('Neuton_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_700.woff') format('woff')
	/* ,url('Neuton_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_400.woff') format('woff')
	/* ,url('Arvo_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_700.woff') format('woff')
	/* ,url('Arvo_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_400.woff') format('woff')
	/* ,url('Lato_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_900.woff') format('woff')
	/* ,url('Lato_900.ttf') format('truetype') */
	;
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: 'InconsolataMedium';
	src: url('Inconsolata.woff') format('woff')
	/* ,url('Inconsolata.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Entypo';
	font-weight: normal;
	font-style: normal;
	src:url(Entypo.woff) format('woff')
	/* ,url('Entypo.ttf') format('truetype') */
	;
}

/*
==============================================================================

Globals

==============================================================================
*/

em
{
	border-bottom: 2px #333333 dotted;
}


@-webkit-keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}
@-moz-keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}
@-ms-keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}
@-o-keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}
@keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}


.fade
{
	opacity:0.6;
}

html:not(.basic) body.epb3sldrzr-epubReadingSystem *.epb3sldrzr-notEpubReadingSystem,
body:not(.epb3sldrzr-epubReadingSystem) *.epb3sldrzr-epubReadingSystem
{
	display:none;
}

#epb3sldrzr-notes,
nav#epb3sldrzr-pageList
{
	display:none;
}


::-webkit-selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}
::-moz-selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}
::-ms-selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}
::-o-selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}
::selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}


a:link
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}
a:visited
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}
a:hover
{
	color:#0066FF;
	text-decoration:underline;
	
	border: none;
}
a:active
{
	color:#0066FF;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}

table,
table tr,
table tr td
{
	
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

	
	margin: 0;
	padding: 0;
	border: none;
}

table.spaceLined
{
	width: 95%;
}

table.spaceLined td
{
	border-top: 2px solid #eeeeee;
	
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

table.spaceLined tr:first-child td
{
	border-top: none;
}

img
{
	-webkit-transform: translateZ(0);
	
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

}

img.full
{
	position:absolute;

	top:0;
	left:0;

	width:1290px;
	height:1000px;

	z-index:0;
}

.-epub-media-overlay-active
{
	background-color:#003399;
	color:white;
}


span.keyboard
{
	border-radius: 10px;
	
	padding-left: 0.2em;
	padding-right: 0.2em;
	
	padding-bottom: 0.2em;

	background-color: #D0D0D0;
	
	border-top: 4px solid #E0E0E0;
	border-left: 4px solid #E0E0E0;
	border-bottom: 4px solid #A8A8A8;
	border-right: 4px solid #A8A8A8;
}

html:not(.opera) span.symbols
{
	font-family: Entypo, Lato;
	font-size: 120%;
	
	padding-bottom: 0;
}

html:not(.opera) span.symbols.alt
{
	font-family: FontAwesome, Entypo, Lato;
}

/*
==============================================================================

Incrementals (slide "bullet points")

==============================================================================
*/

html:not(.basic) body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental,
html:not(.basic) body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *
{
	visibility: visible;
	opacity: 1;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not([incremental-active]),
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental:not([incremental-active])
{
	visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *
{
	opacity: 1;
}

/*html:not(.mobile)
html:not(.basic) */
html:not(.IE):not(.opera) body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not(.fade-active) > *
{
	
-webkit-transition: opacity 500ms ease-in-out 0ms;
-moz-transition: opacity 500ms ease-in-out 0ms;
-ms-transition: opacity 500ms ease-in-out 0ms;
-o-transition: opacity 500ms ease-in-out 0ms;
transition: opacity 500ms ease-in-out 0ms;

}

/*html:not(.mobile)*/
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental,
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *
{
	
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not([incremental-active]) > *,
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *[aria-selected] ~ *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental:not([incremental-active]) > *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *[aria-selected] ~ *
{
	opacity: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active[incremental-active] > *,
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active > *[aria-selected] ~ *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental.fade-active[incremental-active] > *,
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental.fade-active > *[aria-selected] ~ *
{
	opacity: 0.4;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *[aria-selected],
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *[aria-selected],
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *[aria-activedescendant],
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *[aria-activedescendant]
{
	opacity: 1 !important;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active > *[aria-selected],
html.basic body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental.fade-active > *[aria-selected]
{
	font-weight: 900;
}

/*
==============================================================================

Major structural elements

==============================================================================
*/

html
{
	margin:0;
	padding:0;
}

html:not(.basic) body:not(.epb3sldrzr-epubReadingSystem),
html.basic body.epb3sldrzr-epubReadingSystem
{
	-webkit-font-smoothing: subpixel-antialiased;
	
	
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;

}

body
{
	-webkit-text-size-adjust:none;
	
	background-color:#333333;

	
-webkit-background-clip:border-box;
-moz-background-clip:border-box;
-ms-background-clip:border-box;
-o-background-clip:border-box;
background-clip:border-box;

	
-webkit-background-origin:padding-box;
-moz-background-origin:padding-box;
-ms-background-origin:padding-box;
-o-background-origin:padding-box;
background-origin:padding-box;

	
-webkit-background-size:auto;
-moz-background-size:auto;
-ms-background-size:auto;
-o-background-size:auto;
background-size:auto;

	
-webkit-background-attachment:scroll;
-moz-background-attachment:scroll;
-ms-background-attachment:scroll;
-o-background-attachment:scroll;
background-attachment:scroll;

	
-webkit-background-image:url(../img/back.png);
-moz-background-image:url(../img/back.png);
-ms-background-image:url(../img/back.png);
-o-background-image:url(../img/back.png);
background-image:url(../img/back.png);

	
	margin:0;
	padding:0;

	
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

	
	display:block;

	position:absolute;

	width:1290px;
	height:1000px;

	overflow:hidden;

	font-size: 40px;
	
	font-weight: 400;
	font-family: Lato, Tahoma, verdana, arial, sans-serif;

	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}

html:not(.static):not(.basic) body.epb3sldrzr-epubReadingSystem
{
	border-right: 2px solid #aaaaaa;
	border-left: 2px solid #aaaaaa;
}

body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body
{
	visibility: hidden;
}

body div#epb3sldrzr-body-NOTES,
body div#epb3sldrzr-body
{	
	margin:0;
	padding:0;

	
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;

	
	display:block;

	position:absolute;
	top:0px;
	left:0px;

	width:100%;
	height:100%;

	overflow:hidden;
	
	background-color:white;
}

body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body-NOTES,
body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body,
html.basic body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body-NOTES,
html.basic body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body
{
	border-radius:20px;

	
-webkit-box-shadow:0 0 50px rgba(0, 0, 0, 1);
-moz-box-shadow:0 0 50px rgba(0, 0, 0, 1);
-ms-box-shadow:0 0 50px rgba(0, 0, 0, 1);
-o-box-shadow:0 0 50px rgba(0, 0, 0, 1);
box-shadow:0 0 50px rgba(0, 0, 0, 1);

}

html.static body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body-NOTES,
html.static body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body
{
	border-radius: 40px;
}



body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body-NOTES.epb3sldrzr-animated,
body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body.epb3sldrzr-animated
{
	
-webkit-animation-duration: 0.5s;
-moz-animation-duration: 0.5s;
-ms-animation-duration: 0.5s;
-o-animation-duration: 0.5s;
animation-duration: 0.5s;

	
-webkit-animation-delay: 0s;
-moz-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;

}


div#epb3sldrzr-root-NOTES,
div#epb3sldrzr-root
{
	margin:0;
	padding:0;

	display:block;

	position:absolute;
	top:0px;
	left:0px;

	width:100%;
	height:100%;
	
	z-index:5;

	overflow:auto;

	-webkit-overflow-scrolling: touch;
}

#epb3sldrzr-content,
#epb3sldrzr-content-NOTES
{
	font-size: 100%;
	
	margin:0;
	padding:0;
}


/*
==============================================================================

Title

==============================================================================
*/

span#epb3sldrzr-subtitle,
span#epb3sldrzr-subtitle-NOTES
{
	opacity: 0.7;
}

h1#epb3sldrzr-title,
h1#epb3sldrzr-title-NOTES
{
	margin:0;
	padding:0;

	font-size: 130%;
	
	font-weight: 900;
	font-family: Lato, Tahoma, "arial black", verdana, arial, sans-serif;
	
	/*
	line-height:1em;
	letter-spacing:0.03em;

	padding-top:0.3em;
	*/
	
	padding:0.4em;
	padding-left:0.6em;
	
	color:rgba(0, 0, 0, 0.5);

	text-shadow:2px 2px 4px rgba(255, 255, 255, 1), 0 0 0 rgba(0, 0, 0, 0.5); /* 2px 2px 4px white; */

	background-color:#efefef;
	
	background: rgb(238,238,238);
}

html#epb3sldrzr-NavDoc h1#epb3sldrzr-title
{
	border-bottom: 8px solid #CC3300;
}

html.static body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title,
html.static body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title-NOTES
{
	border-top-left-radius:40px;
	border-top-right-radius:40px;
}

body:not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title,
body:not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title-NOTES,
html.basic body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title,
html.basic body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title-NOTES
{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}


/*
==============================================================================

Logo

==============================================================================
*/


img#epb3sldrzr-logo
{
	margin:0;
	padding:0;

	position:absolute;
	z-index:10;
}

html#epb3sldrzr-NavDoc img#epb3sldrzr-logo
{
	bottom: 30px;
	left: 50px;
}

html:not(#epb3sldrzr-NavDoc) img#epb3sldrzr-logo
{
	top: 10px;
	right: 25px;

	width: 200px;
	height: 83px;
}


/*
==============================================================================

Links

==============================================================================
*/

html.opera a#epb3sldrzr-link-toc:before,
html.opera a#epb3sldrzr-link-next:before,
html.opera a#epb3sldrzr-link-previous:before,
html.opera a#epb3sldrzr-link-epub:before
{
	font-size: 180%;

	font-weight: 400;
	font-family: Tahoma, verdana, arial, sans-serif;
}

html:not(.opera) a#epb3sldrzr-link-toc:before,
html:not(.opera) a#epb3sldrzr-link-next:before,
html:not(.opera) a#epb3sldrzr-link-previous:before,
html:not(.opera) a#epb3sldrzr-link-epub:before
{
	margin:0;
	padding:0;
	font-size: 200%;

	font-weight: 400;
	font-family: 'Entypo';
}

html:not(.opera) a#epb3sldrzr-link-epub:before
{
	content: "\1F4E5";
}

html:not(.opera) a#epb3sldrzr-link-toc:before
{
	content: "\E005";
	/*
	content: "\2605";
	*/
}
html:not(.opera) a#epb3sldrzr-link-previous:before
{
	content: "\E759";
	/*
	content: "\25C2";

	content: "\25C4";
	*/
}
html:not(.opera) a#epb3sldrzr-link-next:before
{
	content: "\E75A";
	/*
	content: "\25B8";
	
	content: "\25BA";
	*/
}

html.opera a#epb3sldrzr-link-toc:before
{
	content: "\2605";
}
html.opera a#epb3sldrzr-link-epub:before
{
	content: "\25bc";
}
html.opera a#epb3sldrzr-link-previous:before
{
	content: "\25C4";
}
html.opera a#epb3sldrzr-link-next:before
{
	content: "\25BA";
}

a#epb3sldrzr-link-noteback,
a#epb3sldrzr-link-notesref,
a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-next,
a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epub,
a#epb3sldrzr-link-epubReadingSystem
{
	margin:0;
	padding:0;

	font-weight: 400;
	font-family: Lato, Tahoma, arial, verdana, arial, sans-serif;
		
	font-size: 50%;

	text-transform:uppercase;

	margin:0px;

	padding:10px;
	padding-bottom:6px;

	/*
	background-color:#eeeeee;
	*/

	border-radius:10px;


	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:link,
a#epb3sldrzr-link-noteback:visited,
a#epb3sldrzr-link-noteback:active,
a#epb3sldrzr-link-notesref:link,
a#epb3sldrzr-link-notesref:visited,
a#epb3sldrzr-link-notesref:active,
a#epb3sldrzr-link-previous:link,
a#epb3sldrzr-link-previous:visited,
a#epb3sldrzr-link-previous:active,
a#epb3sldrzr-link-next:link,
a#epb3sldrzr-link-next:visited,
a#epb3sldrzr-link-next:active,
a#epb3sldrzr-link-epubReadingSystem:link,
a#epb3sldrzr-link-epubReadingSystem:visited,
a#epb3sldrzr-link-epubReadingSystem:active,
a#epb3sldrzr-link-toc:link,
a#epb3sldrzr-link-toc:visited,
a#epb3sldrzr-link-toc:active
a#epb3sldrzr-link-epub:link,
a#epb3sldrzr-link-epub:visited,
a#epb3sldrzr-link-epub:active
{
	color:#3D6AA2;

	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:hover,
a#epb3sldrzr-link-notesref:hover,
a#epb3sldrzr-link-previous:hover,
a#epb3sldrzr-link-next:hover,
a#epb3sldrzr-link-toc:hover,
a#epb3sldrzr-link-epub:hover,
a#epb3sldrzr-link-epubReadingSystem:hover
{
	background-color:#003399;
	color:white;

	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-toc:link,
a#epb3sldrzr-link-toc:visited,
a#epb3sldrzr-link-toc:active
{
	color: #33CC00;
}
a#epb3sldrzr-link-toc:hover
{
	background-color:#33CC00;
	color:white;
}

a#epb3sldrzr-link-noteback
{
	float: right;
	margin-right: 1em;
}

div#epb3sldrzr-controls
{
	position:absolute;
	z-index:20;

	left: 0px;
	bottom:0px;
	width: 100%;
	
	margin:0;
	padding:0;
	
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	/*
	background-color: rgba(0,0,0,0.3);
	*/
}

/*
a#epb3sldrzr-link-notesref,
a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-next,
a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epubReadingSystem
*/
a#epb3sldrzr-link-epub
{
	position:absolute;
	z-index:20;
	bottom:10px;
}


a#epb3sldrzr-link-epub
{
	bottom: auto;
	top: 25px;
	right: 20px;
}

a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epubReadingSystem
{
	float: left;
	margin-left: 1em;
	
	/* left:15px; */
}


a#epb3sldrzr-link-notesref
{
	float: right;
	
	margin-right: 2em;
	margin-top: 1em;
	
	/* right:300px; */
}

a#epb3sldrzr-link-next
{
	float: right;
	margin-right: 1em;
	
	/* right:15px; */
}

a#epb3sldrzr-link-previous
{
	float: right;
	margin-right: 0.5em;
	
	/* right:70px; */
}

html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-noteback,
html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-notesref,
html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-epub,
html#epb3sldrzr-NavDoc a#epb3sldrzr-link-toc
{
	display: none !important;
}


/*
==============================================================================

Lists

==============================================================================
*/

ul,
ol
{
	margin:0;
	padding:0;

	margin-left:1em;
	margin-right:1em;
	margin-top:1em;
}

ul li,
ol li
{
	margin:0;
	padding:0;

	margin-bottom:0.8em;
}

ul
{
	list-style-type:square;

	margin-left:2em;
}

ol
{
	list-style-type:none;
	counter-reset:item;
}

ul li
{
/*	list-style-type:square; */
}

ol li
{
/*	list-style-type:none; */
}

ol > li:before
{
	font-weight: 900;
	font-family: Lato, Arvo, Tahoma, "arial black", verdana, arial, sans-serif;
	font-size: 70%;
	
	color: #efefef;
	background-color: #555555;
	
	border-radius: 0.9em;
	
	padding: 0.3em;
	padding-right: 0.6em;
	padding-left: 0.6em;
	
	margin-right: 0.6em;
	
	counter-increment:item;
	content:counter(item);
}

/*
==============================================================================

NavDoc lists

==============================================================================
*/


html#epb3sldrzr-NavDoc ol
{
	
-webkit-column-count: 2;
-moz-column-count: 2;
-ms-column-count: 2;
-o-column-count: 2;
column-count: 2;

	
-webkit-column-gap: 1em;
-moz-column-gap: 1em;
-ms-column-gap: 1em;
-o-column-gap: 1em;
column-gap: 1em;

/* 	-PREFIXED_PROPERTY-column-rule: 10px dotted #ff00ff;	*/
	

	font-weight: 900;
	font-family: Lato, Arvo, Neuton, Tahoma, "arial black", verdana, arial, sans-serif;
	font-size: 100%;
}

html#epb3sldrzr-NavDoc ol li a:link,
html#epb3sldrzr-NavDoc ol li a:hover,
html#epb3sldrzr-NavDoc ol li a:visited,
html#epb3sldrzr-NavDoc ol li a:active
{
	border-bottom: none;
}
	
html#epb3sldrzr-NavDoc ol li
{
	font-weight:900;
	
	/*
	width:25%;
	width:33.33333%;
	*/
}

html#epb3sldrzr-NavDoc ol li:before
{
	color: #ffffff;
	background-color: #8AC007;
}

html#epb3sldrzr-NavDoc ol li:hover:before
{
	background-color: #FF0033;
}


/* OPERA HACK */
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, html#epb3sldrzr-NavDoc ol
	{
	-o-column-count: auto;
	column-count: auto;
	}
}

/* OPERA HACK */
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, html#epb3sldrzr-NavDoc ol li
	{
	float:left;
	display:inline;
	width:50%;
	}
}

/*

==============================================================================

Slide content

==============================================================================

*/

#epb3sldrzr-content p,
#epb3sldrzr-content-NOTES p
{
	margin:0;
	padding:0;

	padding-left: 40px;
	padding-right: 40px;
	padding-bottom:0em;
	padding-top:0.8em;
	
	line-height: 1.4em;
}

#epb3sldrzr-content div.boxed,
#epb3sldrzr-content-NOTES div.boxed
{
	padding:0;
	margin:0;
	
	padding:1em;
	padding-bottom:0;
}

#epb3sldrzr-content div.paper,
#epb3sldrzr-content-NOTES div.paper
{
	background: white;
	
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-ms-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

#epb3sldrzr-content div.boxed > p,
#epb3sldrzr-content-NOTES div.boxed > p,
#epb3sldrzr-content div.boxed > ul,
#epb3sldrzr-content-NOTES div.boxed > ul,
#epb3sldrzr-content div.boxed > ol,
#epb3sldrzr-content-NOTES div.boxed > ol,
#epb3sldrzr-content div.boxed > div,
#epb3sldrzr-content-NOTES div.boxed > div
{
	background: transparent;

	
-webkit-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-moz-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-ms-box-shadow: 2px 2px 4px rgb(200, 200, 200);
-o-box-shadow: 2px 2px 4px rgb(200, 200, 200);
box-shadow: 2px 2px 4px rgb(200, 200, 200);
 /* , 0 0 10px rgba(210, 220, 230, 1) inset; 0 0 50px rgba(0, 0, 0, 1) 0 0 40px rgba(0, 0, 0, 0.1) inset */

	border: 1px solid rgb(210, 220, 230);

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

#epb3sldrzr-content div.boxed > p,
#epb3sldrzr-content-NOTES div.boxed > p
{
	padding-bottom:1em;
}

#epb3sldrzr-content div.boxed > div,
#epb3sldrzr-content-NOTES div.boxed > div
{
	padding: 0;
	margin: 0;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

#epb3sldrzr-content div.boxed > div > ol,
#epb3sldrzr-content-NOTES div.boxed > div > ol,
#epb3sldrzr-content div.boxed > div > ul,
#epb3sldrzr-content-NOTES div.boxed > div > ul
{
	margin-top: 0;
	margin-bottom: 0;
	
	padding-top: 0.5em;
	padding-bottom: 0;
}

#epb3sldrzr-content div.boxed > div > table,
#epb3sldrzr-content-NOTES div.boxed > div > table
{
	margin-left: 1em;
}

#epb3sldrzr-content div.boxed > h3,
#epb3sldrzr-content-NOTES div.boxed > h3
{
	color: #CC3300;
	
	font-weight: 900;
	font-family: Lato, Tahoma, 'arial black', verdana, arial, sans-serif;
	
	font-size: 96%;
	
	padding:0;
	margin:0;
	
	line-height: 0.9em;
}

#epb3sldrzr-content div.boxed.framed > *,
#epb3sldrzr-content-NOTES div.boxed.framed > *
{
	border: 2px solid #888888;
}

#epb3sldrzr-content div.boxed.framed > h3,
#epb3sldrzr-content-NOTES div.boxed.framed > h3
{
	float: right;
	
	background: white;
	color: #CC3300;
	
	font-weight: 400;
	
	padding: 0.2em;
}


#epb3sldrzr-content li div.boxed,
#epb3sldrzr-content-NOTES li div.boxed
{
	padding:0;
	padding-right:1em;
}

.code
{
	font-size: 100%;
	font-weight: 400;
	font-family: InconsolataMedium, monospace;
}



nav[epub|type~='page-list']
{
	display:none;
}


*[hidden]
{
	display:none;
}


.epb3sldrzr-author-INIT
{
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
}

/*
==============================================================================

Animations

==============================================================================
*/


body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-ms-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;

	
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-ms-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;

}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	/* 
	HW acceleration
	
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	
	-webkit-transform-style: preserve-3d;
	*/
	
	 /* 
	 animate.css 
	-PREFIXED_PROPERTY-backface-visibility: visible !important;
	 */
	 
	
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;

}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
body:not(.epb3sldrzr-epubReadingSystem) .animated:not(.epb3sldrzr-animateStart)
{
	visibility: hidden;
}

.epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
.animated:not(.epb3sldrzr-animateStart)
{
	
-webkit-animation-iteration-count: 0;
-moz-animation-iteration-count: 0;
-ms-animation-iteration-count: 0;
-o-animation-iteration-count: 0;
animation-iteration-count: 0;

}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animateStart
{
	visibility: visible !important;
	
	
-webkit-animation-iteration-count: 1;
-moz-animation-iteration-count: 1;
-ms-animation-iteration-count: 1;
-o-animation-iteration-count: 1;
animation-iteration-count: 1;

}


/* OPERA HACK */
/*
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(#epb3sldrzr-body)
	{
animation-iteration-count: 1 !important;
-o-animation-iteration-count: 1 !important;
	}
}
*/


@-webkit-keyframes bounceInDown
{
	0% {
		opacity: 0;
		-webkit-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInDown
{
	0% {
		opacity: 0;
		-moz-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes bounceInDown
{
	0% {
		opacity: 0;
		-ms-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateY(30px);
	}
	
	80% {
		-ms-transform: translateY(-10px);
	}
	
	100% {
		-ms-transform: translateY(0);
	}
}
@-o-keyframes bounceInDown
{
	0% {
		opacity: 0;
		-o-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}
@keyframes bounceInDown
{
	0% {
		opacity: 0;
		transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


.bounceInDown
{
	
-webkit-animation-name: bounceInDown;
-moz-animation-name: bounceInDown;
-ms-animation-name: bounceInDown;
-o-animation-name: bounceInDown;
animation-name: bounceInDown;

}



@-webkit-keyframes bounceInUp
{
	0% {
		opacity: 0;
		-webkit-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	
	80% {
		-webkit-transform: translateY(10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp
{
	0% {
		opacity: 0;
		-moz-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(-30px);
	}
	
	80% {
		-moz-transform: translateY(10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes bounceInUp
{
	0% {
		opacity: 0;
		-ms-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateY(-30px);
	}
	
	80% {
		-ms-transform: translateY(10px);
	}
	
	100% {
		-ms-transform: translateY(0);
	}
}
@-o-keyframes bounceInUp
{
	0% {
		opacity: 0;
		-o-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(-30px);
	}
	
	80% {
		-o-transform: translateY(10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}
@keyframes bounceInUp
{
	0% {
		opacity: 0;
		transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	
	80% {
		transform: translateY(10px);
	}
	
	100% {
		transform: translateY(0);
	}
}


.bounceInUp
{
	
-webkit-animation-name: bounceInUp;
-moz-animation-name: bounceInUp;
-ms-animation-name: bounceInUp;
-o-animation-name: bounceInUp;
animation-name: bounceInUp;

}


@-webkit-keyframes bounceInRight
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
	}
	
	80% {
		-webkit-transform: translateX(10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes bounceInRight
{
	0% {
		opacity: 0;
		-moz-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(-30px);
	}
	
	80% {
		-moz-transform: translateX(10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes bounceInRight
{
	0% {
		opacity: 0;
		-ms-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateX(-30px);
	}
	
	80% {
		-ms-transform: translateX(10px);
	}
	
	100% {
		-ms-transform: translateX(0);
	}
}
@-o-keyframes bounceInRight
{
	0% {
		opacity: 0;
		-o-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(-30px);
	}
	
	80% {
		-o-transform: translateX(10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes bounceInRight
{
	0% {
		opacity: 0;
		transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(-30px);
	}
	
	80% {
		transform: translateX(10px);
	}
	
	100% {
		transform: translateX(0);
	}
}


.bounceInRight
{
	
-webkit-animation-name: bounceInRight;
-moz-animation-name: bounceInRight;
-ms-animation-name: bounceInRight;
-o-animation-name: bounceInRight;
animation-name: bounceInRight;

}


@-webkit-keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-moz-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(30px);
	}
	
	80% {
		-moz-transform: translateX(-10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-ms-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateX(30px);
	}
	
	80% {
		-ms-transform: translateX(-10px);
	}
	
	100% {
		-ms-transform: translateX(0);
	}
}
@-o-keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-o-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(30px);
	}
	
	80% {
		-o-transform: translateX(-10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes bounceInLeft
{
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}


.bounceInLeft
{
	
-webkit-animation-name: bounceInLeft;
-moz-animation-name: bounceInLeft;
-ms-animation-name: bounceInLeft;
-o-animation-name: bounceInLeft;
animation-name: bounceInLeft;

}



@-webkit-keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-moz-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-ms-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-o-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.fadeInLeftBig
{
	
-webkit-animation-name: fadeInLeftBig;
-moz-animation-name: fadeInLeftBig;
-ms-animation-name: fadeInLeftBig;
-o-animation-name: fadeInLeftBig;
animation-name: fadeInLeftBig;

}


@-webkit-keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-webkit-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-moz-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-ms-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}
@-o-keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-o-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.fadeInRightBig
{
	
-webkit-animation-name: fadeInRightBig;
-moz-animation-name: fadeInRightBig;
-ms-animation-name: fadeInRightBig;
-o-animation-name: fadeInRightBig;
animation-name: fadeInRightBig;

}


@-webkit-keyframes enterInLeft
{
	0% {
		-webkit-transform: translateX(-500px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes enterInLeft
{
	0% {
		-moz-transform: translateX(-500px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes enterInLeft
{
	0% {
		-ms-transform: translateX(-500px);
	}
	
	100% {
		-ms-transform: translateX(0);
	}
}
@-o-keyframes enterInLeft
{
	0% {
		-o-transform: translateX(-500px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes enterInLeft
{
	0% {
		transform: translateX(-500px);
	}
	
	100% {
		transform: translateX(0);
	}
}


.enterInLeft
{
	
-webkit-animation-name: enterInLeft;
-moz-animation-name: enterInLeft;
-ms-animation-name: enterInLeft;
-o-animation-name: enterInLeft;
animation-name: enterInLeft;

}


@-webkit-keyframes enterInRight
{
	0% {
		-webkit-transform: translateX(500px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes enterInRight
{
	0% {
		-moz-transform: translateX(500px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes enterInRight
{
	0% {
		-ms-transform: translateX(500px);
	}
	
	100% {
		-ms-transform: translateX(0);
	}
}
@-o-keyframes enterInRight
{
	0% {
		-o-transform: translateX(500px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes enterInRight
{
	0% {
		transform: translateX(500px);
	}
	
	100% {
		transform: translateX(0);
	}
}


.enterInRight
{
	
-webkit-animation-name: enterInRight;
-moz-animation-name: enterInRight;
-ms-animation-name: enterInRight;
-o-animation-name: enterInRight;
animation-name: enterInRight;

}


@-webkit-keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}


.fadeIn
{
	
-webkit-animation-name: fadeIn;
-moz-animation-name: fadeIn;
-ms-animation-name: fadeIn;
-o-animation-name: fadeIn;
animation-name: fadeIn;

}


h1#epb3sldrzr-title,
h1#epb3sldrzr-title-NOTES
{	
	background: -moz-linear-gradient(left,  rgba(237,237,237,1) 0%, rgba(250,250,250,1) 70%, rgba(255,255,255,0) 100%);

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(70%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,0)));

	background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: -o-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: -ms-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: linear-gradient(to right,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 );
}
