@font-face
{
	font-family: 'FingerPaint';
	src: url('../../img/custom/FingerPaint.woff') format('woff')
	/* url('../../img/custom/FingerPaint.ttf') format('truetype') */
	;
	font-weight: normal; /* 400 */
	font-style: normal;
}