@charset "utf-8";

@namespace epub 'http://www.idpf.org/2007/ops';

/*
*:not(html)
{
	-webkit-backface-visibility: hidden;
}
*/

/*
==============================================================================

Globals

==============================================================================
*/

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_400.woff') format('woff')
	/* ,url('Neuton_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_700.woff') format('woff')
	/* ,url('Neuton_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_400.woff') format('woff')
	/* ,url('Arvo_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_700.woff') format('woff')
	/* ,url('Arvo_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_400.woff') format('woff')
	/* ,url('Lato_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_900.woff') format('woff')
	/* ,url('Lato_900.ttf') format('truetype') */
	;
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: 'InconsolataMedium';
	src: url('Inconsolata.woff') format('woff')
	/* ,url('Inconsolata.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Entypo';
	font-weight: normal;
	font-style: normal;
	src:url(Entypo.woff) format('woff')
	/* ,url('Entypo.ttf') format('truetype') */
	;
}

em
{
	border-bottom: 2px #333333 dotted;
}

_PREFIXED_@keyframes onoff
{
from
{
opacity: 0;
}

to
{
opacity: 1;
}
}

.fade
{
	opacity:0.6;
}

body.epb3sldrzr-epubReadingSystem *.epb3sldrzr-notEpubReadingSystem,
body:not(.epb3sldrzr-epubReadingSystem) *.epb3sldrzr-epubReadingSystem
{
	display:none;
}

#epb3sldrzr-notes,
nav#epb3sldrzr-pageList
{
	display:none;
}

_PREFIXED_::selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}

a:link
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}
a:visited
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}
a:hover
{
	color:#0066FF;
	text-decoration:underline;
	
	border: none;
}
a:active
{
	color:#0066FF;
	text-decoration:none;
	
	border-bottom: 2px #0066FF dotted;
}

img
{
	-webkit-backface-visibility: hidden;
}

img.full
{
	position:absolute;

	top:0;
	left:0;

	width:VIEWPORT_WIDTHpx;
	height:VIEWPORT_HEIGHTpx;

	z-index:0;
}

.-epub-media-overlay-active
{
	background-color:#003399;
	color:white;
}


span.keyboard
{
	border-radius: 10px;
	
	padding-left: 0.2em;
	padding-right: 0.2em;
	
	padding-bottom: 0.2em;

	background-color: #D0D0D0;
	
	border-top: 4px solid #E0E0E0;
	border-left: 4px solid #E0E0E0;
	border-bottom: 4px solid #A8A8A8;
	border-right: 4px solid #A8A8A8;
}

html:not(.opera) span.symbols
{
	font-family: Entypo;
	font-size: 120%;
	
	padding-bottom: 0;
}

/*
==============================================================================

Incrementals (slide "bullet points")

==============================================================================
*/

body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental,
body.epb3sldrzr-epubReadingSystem #epb3sldrzr-content .incremental > *
{
	visibility: visible;
	opacity: 1;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not([incremental-active])
{
	visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *
{
	opacity: 1;
}

/*html:not(.mobile)*/
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not(.fade-active) > *
{
	-PREFIXED_PROPERTY-transition: opacity 500ms ease-in-out 0ms;
}

/*html:not(.mobile)*/
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *
{	
	-webkit-backface-visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental:not([incremental-active]) > *,
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *[aria-selected] ~ *
{
	opacity: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active[incremental-active] > *,
body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active > *[aria-selected] ~ *
{
	opacity: 0.6;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental > *[aria-selected]
{
	opacity: 1 !important;
}

body:not(.epb3sldrzr-epubReadingSystem) #epb3sldrzr-content .incremental.fade-active > *[aria-selected]
{
	font-weight: 900;
}

/*
==============================================================================

Major structural elements

==============================================================================
*/

html
{
	margin:0;
	padding:0;
}

body:not(.epb3sldrzr-epubReadingSystem)
{
	-webkit-font-smoothing: subpixel-antialiased;
	
	-PREFIXED_PROPERTY-user-select:none;
}

body
{
	-webkit-text-size-adjust:none;
	
	background-color:#333333;

	-PREFIXED_PROPERTY-background-clip:border-box;
	-PREFIXED_PROPERTY-background-origin:padding-box;
	-PREFIXED_PROPERTY-background-size:auto;
	-PREFIXED_PROPERTY-background-attachment:scroll;
	-PREFIXED_PROPERTY-background-image:url(../img/back.png);
	
	margin:0;
	padding:0;

	-PREFIXED_PROPERTY-box-sizing:border-box;
	
	display:block;

	position:absolute;

	width:VIEWPORT_WIDTHpx;
	height:VIEWPORT_HEIGHTpx;

	overflow:hidden;

	font-size: FONT_SIZEpx;
	font-weight: 400;
	font-family: Lato, Tahoma, verdana, arial, sans-serif;

	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}

html:not(.static) body.epb3sldrzr-epubReadingSystem
{
	border-right: 2px solid #aaaaaa;
	border-left: 2px solid #aaaaaa;
}

body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body
{
	visibility: hidden;
}

body div#epb3sldrzr-body-NOTES,
body div#epb3sldrzr-body
{	
	margin:0;
	padding:0;

	-PREFIXED_PROPERTY-box-sizing:border-box;
	
	display:block;

	position:absolute;
	top:0px;
	left:0px;

	width:100%;
	height:100%;

	overflow:hidden;
	
	background-color:white;
}

body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body-NOTES,
body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body
{
	border-radius:20px;

	-PREFIXED_PROPERTY-box-shadow:0 0 50px rgba(0, 0, 0, 1);
}

html.static body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body-NOTES,
html.static body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body
{
	border-radius: 40px;
}



body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body-NOTES.epb3sldrzr-animated,
body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body.epb3sldrzr-animated
{
	-PREFIXED_PROPERTY-animation-duration: 0.5s;
	-PREFIXED_PROPERTY-animation-delay: 0s;
}


div#epb3sldrzr-root-NOTES,
div#epb3sldrzr-root
{
	margin:0;
	padding:0;

	display:block;

	position:absolute;
	top:0px;
	left:0px;

	width:100%;
	height:100%;
	
	z-index:5;

	overflow:auto;

/*	-webkit-overflow-scrolling: touch; */
}

#epb3sldrzr-content,
#epb3sldrzr-content-NOTES
{
	font-size: 100%;
	
	margin:0;
	padding:0;
}


/*
==============================================================================

Title

==============================================================================
*/

span#epb3sldrzr-subtitle,
span#epb3sldrzr-subtitle-NOTES
{
	opacity: 0.7;
}

h1#epb3sldrzr-title,
h1#epb3sldrzr-title-NOTES
{
	margin:0;
	padding:0;

	font-size: 130%;
	
	font-weight: 900;
	font-family: Lato, Tahoma, "arial black", verdana, arial, sans-serif;
	
	/*
	line-height:1em;
	letter-spacing:0.03em;

	padding-top:0.3em;
	*/
	
	padding:0.4em;
	padding-left:0.6em;
	
	color:rgba(0, 0, 0, 0.5);
	background-color:#efefef;
	border-bottom: 4px solid #8AC007;

	text-shadow:2px 2px 4px rgba(255, 255, 255, 1), 0 0 0 rgba(0, 0, 0, 0.5); /* 2px 2px 4px white; */
	
	background: rgb(238,238,238);
	
	/*

	-PREFIXED_PROPERTY-box-shadow: 0 0 16px 0px black;
	
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); 
	*/
	/*
	background: -moz-linear-gradient(top,	rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-linear-gradient(top,	rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,	rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,	rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom,	rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	*/
}

html#epb3sldrzr-NavDoc h1#epb3sldrzr-title
{
	border-bottom: 4px solid #CC3300;
}

html.static body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title,
html.static body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title-NOTES
{
	border-top-left-radius:40px;
	border-top-right-radius:40px;
}

body:not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title,
body:not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title-NOTES
{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}


/*
==============================================================================

Logo

==============================================================================
*/


img#epb3sldrzr-logo
{
	margin:0;
	padding:0;

	position:absolute;
	z-index:10;
}

html#epb3sldrzr-NavDoc img#epb3sldrzr-logo
{
	bottom: 30px;
	left: 50px;
}

html:not(#epb3sldrzr-NavDoc) img#epb3sldrzr-logo
{
	top: 10px;
	right: 25px;

	width: 200px;
	height: 83px;
}


/*
==============================================================================

Links

==============================================================================
*/

html.opera a#epb3sldrzr-link-toc:before,
html.opera a#epb3sldrzr-link-next:before,
html.opera a#epb3sldrzr-link-previous:before,
html.opera a#epb3sldrzr-link-epub:before
{
	font-size: 180%;

	font-weight: 400;
	font-family: Tahoma, verdana, arial, sans-serif;
}

html:not(.opera) a#epb3sldrzr-link-toc:before,
html:not(.opera) a#epb3sldrzr-link-next:before,
html:not(.opera) a#epb3sldrzr-link-previous:before,
html:not(.opera) a#epb3sldrzr-link-epub:before
{
	margin:0;
	padding:0;
	font-size: 200%;

	font-weight: 400;
	font-family: 'Entypo';
}

html:not(.opera) a#epb3sldrzr-link-epub:before
{
	content: "\1F4E5";
}

html:not(.opera) a#epb3sldrzr-link-toc:before
{
	content: "\E005";
	/*
	content: "\2605";
	*/
}
html:not(.opera) a#epb3sldrzr-link-previous:before
{
	content: "\E759";
	/*
	content: "\25C2";

	content: "\25C4";
	*/
}
html:not(.opera) a#epb3sldrzr-link-next:before
{
	content: "\E75A";
	/*
	content: "\25B8";
	
	content: "\25BA";
	*/
}

html.opera a#epb3sldrzr-link-toc:before
{
	content: "\2605";
}
html.opera a#epb3sldrzr-link-epub:before
{
	content: "\25bc";
}
html.opera a#epb3sldrzr-link-previous:before
{
	content: "\25C4";
}
html.opera a#epb3sldrzr-link-next:before
{
	content: "\25BA";
}

a#epb3sldrzr-link-noteback,
a#epb3sldrzr-link-notesref,
a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-next,
a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epub,
a#epb3sldrzr-link-epubReadingSystem
{
	margin:0;
	padding:0;

	font-weight: 400;
	font-family: Lato, Tahoma, arial, verdana, arial, sans-serif;
		
	font-size: 50%;

	text-transform:uppercase;

	margin:0px;

	padding:10px;
	padding-bottom:6px;

	/*
	background-color:#eeeeee;
	*/

	border-radius:10px;


	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:link,
a#epb3sldrzr-link-noteback:visited,
a#epb3sldrzr-link-noteback:active,
a#epb3sldrzr-link-notesref:link,
a#epb3sldrzr-link-notesref:visited,
a#epb3sldrzr-link-notesref:active,
a#epb3sldrzr-link-previous:link,
a#epb3sldrzr-link-previous:visited,
a#epb3sldrzr-link-previous:active,
a#epb3sldrzr-link-next:link,
a#epb3sldrzr-link-next:visited,
a#epb3sldrzr-link-next:active,
a#epb3sldrzr-link-epubReadingSystem:link,
a#epb3sldrzr-link-epubReadingSystem:visited,
a#epb3sldrzr-link-epubReadingSystem:active,
a#epb3sldrzr-link-toc:link,
a#epb3sldrzr-link-toc:visited,
a#epb3sldrzr-link-toc:active
a#epb3sldrzr-link-epub:link,
a#epb3sldrzr-link-epub:visited,
a#epb3sldrzr-link-epub:active
{
	color:#3D6AA2;

	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:hover,
a#epb3sldrzr-link-notesref:hover,
a#epb3sldrzr-link-previous:hover,
a#epb3sldrzr-link-next:hover,
a#epb3sldrzr-link-toc:hover,
a#epb3sldrzr-link-epub:hover,
a#epb3sldrzr-link-epubReadingSystem:hover
{
	background-color:#003399;
	color:white;

	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback
{
	float: right;
	margin-right: 1em;
}

a#epb3sldrzr-link-notesref,
a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-next,
a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epub,
a#epb3sldrzr-link-epubReadingSystem
{
	position:absolute;
	z-index:20;
	bottom:10px;
}


a#epb3sldrzr-link-epub
{
	bottom: auto;
	top: 25px;
	right: 20px;
}

a#epb3sldrzr-link-toc
{
	left: 50%;
	/*

	padding:10px;
	padding-bottom:2px;
	padding-top:4px;
	
	
	margin: 50% auto 0 0;
	*/
}


a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-epubReadingSystem
{
	left:15px;
}

a#epb3sldrzr-link-next
{
	right:15px;
}

a#epb3sldrzr-link-notesref
{
	right:300px;
}

body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-noteback,
body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-notesref,
body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-epub
{
	display: none !important;
}


/*
==============================================================================

Lists

==============================================================================
*/

ul,
ol
{
	margin:0;
	padding:0;

	margin-left:1em;
	margin-right:1em;
	margin-top:1em;
}

ul li,
ol li
{
	margin:0;
	padding:0;

	margin-bottom:0.8em;
}

ul
{
	list-style-type:square;

	margin-left:2em;
}

ol
{
	list-style-type:none;
	counter-reset:item;
}

ul li
{
/*	list-style-type:square; */
}

ol li
{
/*	list-style-type:none; */
}

ol > li:before
{
	font-weight: 900;
	font-family: Lato, Arvo, Tahoma, "arial black", verdana, arial, sans-serif;
	font-size: 70%;
	
	color: #efefef;
	background-color: #555555;
	
	border-radius: 0.9em;
	
	padding: 0.3em;
	padding-right: 0.6em;
	padding-left: 0.6em;
	
	margin-right: 0.3em;
	
	counter-increment:item;
	content:counter(item);
}

/*
==============================================================================

NavDoc lists

==============================================================================
*/


html#epb3sldrzr-NavDoc ol
{
	-PREFIXED_PROPERTY-column-count: 2;
	-PREFIXED_PROPERTY-column-gap: 1em;
/* 	-PREFIXED_PROPERTY-column-rule: 10px dotted #ff00ff;	*/
	

	font-weight: 900;
	font-family: Lato, Arvo, Neuton, Tahoma, "arial black", verdana, arial, sans-serif;
	font-size: 100%;
}

html#epb3sldrzr-NavDoc ol li a:link,
html#epb3sldrzr-NavDoc ol li a:hover,
html#epb3sldrzr-NavDoc ol li a:visited,
html#epb3sldrzr-NavDoc ol li a:active
{
	border-bottom: none;
}
	
html#epb3sldrzr-NavDoc ol li
{
	font-weight:900;
	
	/*
	width:25%;
	width:33.33333%;
	*/
}

html#epb3sldrzr-NavDoc ol li:before
{
	color: #ffffff;
	background-color: #CC3300;
}

html#epb3sldrzr-NavDoc ol li:hover:before
{
	background-color: #FF0033;
}


/* OPERA HACK */
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, html#epb3sldrzr-NavDoc ol
	{
	-o-column-count: auto;
	column-count: auto;
	}
}

/* OPERA HACK */
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, html#epb3sldrzr-NavDoc ol li
	{
	float:left;
	display:inline;
	width:50%;
	}
}

/*

==============================================================================

Slide content

==============================================================================

*/

#epb3sldrzr-content p,
#epb3sldrzr-content-NOTES p
{
	margin:0;
	padding:0;

	padding-left: FONT_SIZEpx;
	padding-right: FONT_SIZEpx;
	padding-bottom:0em;
	padding-top:0.8em;
	
	line-height: 1.4em;
}

#epb3sldrzr-content div.boxed,
#epb3sldrzr-content-NOTES div.boxed
{	
	padding:0;
	margin:0;
	
	padding:1em;
	padding-bottom:0;
}

#epb3sldrzr-content div.boxed > p,
#epb3sldrzr-content-NOTES div.boxed > p,
#epb3sldrzr-content div.boxed > ul,
#epb3sldrzr-content-NOTES div.boxed > ul,
#epb3sldrzr-content div.boxed > ol,
#epb3sldrzr-content-NOTES div.boxed > ol,
#epb3sldrzr-content div.boxed > div,
#epb3sldrzr-content-NOTES div.boxed > div
{
	background: white;
	-PREFIXED_PROPERTY-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

#epb3sldrzr-content div.boxed > p,
#epb3sldrzr-content-NOTES div.boxed > p
{
	padding-bottom:1em;
}

#epb3sldrzr-content div.boxed > div,
#epb3sldrzr-content-NOTES div.boxed > div
{
	padding: 0;
	margin: 0;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

#epb3sldrzr-content div.boxed > div > ol,
#epb3sldrzr-content-NOTES div.boxed > div > ol,
#epb3sldrzr-content div.boxed > div > ul,
#epb3sldrzr-content-NOTES div.boxed > div > ul
{
	margin-top: 0;
	margin-bottom: 0;
	
	padding-top: 0.5em;
	padding-bottom: 0;
}

#epb3sldrzr-content div.boxed > h3,
#epb3sldrzr-content-NOTES div.boxed > h3
{
	font-weight: 900;
	font-family: Lato, Tahoma, 'arial black', verdana, arial, sans-serif;
	
	font-size: 96%;
	
	padding:0;
	margin:0;
	
	line-height: 0.9em;
}

#epb3sldrzr-content div.boxed.framed > *,
#epb3sldrzr-content-NOTES div.boxed.framed > *
{
	border: 2px solid #333333;
}

#epb3sldrzr-content div.boxed.framed > h3,
#epb3sldrzr-content-NOTES div.boxed.framed > h3
{
	float: right;
	
	background: #222222;
	color: white;
	
	font-weight: 400;
	
	padding: 0.2em;
}


#epb3sldrzr-content li div.boxed,
#epb3sldrzr-content-NOTES li div.boxed
{
	padding:0;
	padding-right:1em;
}

.code
{
	font-size: 100%;
	font-weight: 400;
	font-family: InconsolataMedium, monospace;
}



nav[epub|type~='page-list']
{
	display:none;
}


*[hidden]
{
	display:none;
}


.epb3sldrzr-author-INIT
{
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
}

/*
==============================================================================

Animations

==============================================================================
*/


body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	-PREFIXED_PROPERTY-animation-duration: 1s;
	-PREFIXED_PROPERTY-animation-fill-mode: both;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	/* 
	HW acceleration
	
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	
	-webkit-transform-style: preserve-3d;
	*/
	
	 /* 
	 animate.css 
	-webkit-backface-visibility: visible !important;
	 */
	 
	-webkit-backface-visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
body:not(.epb3sldrzr-epubReadingSystem) .animated:not(.epb3sldrzr-animateStart)
{
	visibility: hidden;
}

.epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
.animated:not(.epb3sldrzr-animateStart)
{
	-PREFIXED_PROPERTY-animation-iteration-count: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animateStart
{
	visibility: visible !important;
	
	-PREFIXED_PROPERTY-animation-iteration-count: 1;
}


/* OPERA HACK */
/*
@media (min-resolution: .001dpcm)
{
	_:-o-prefocus, body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(#epb3sldrzr-body)
	{
animation-iteration-count: 1 !important;
-o-animation-iteration-count: 1 !important;
	}
}
*/

_PREFIXED_@keyframes bounceInDown
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateY(30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateY(-10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateY(0);
	}
}

.bounceInDown
{
	-PREFIXED_PROPERTY-animation-name: bounceInDown;
}


_PREFIXED_@keyframes bounceInUp
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateY(-30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateY(10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateY(0);
	}
}

.bounceInUp
{
	-PREFIXED_PROPERTY-animation-name: bounceInUp;
}

_PREFIXED_@keyframes bounceInRight
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(-30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateX(10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.bounceInRight
{
	-PREFIXED_PROPERTY-animation-name: bounceInRight;
}

_PREFIXED_@keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateX(-10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.bounceInLeft
{
	-PREFIXED_PROPERTY-animation-name: bounceInLeft;
}


_PREFIXED_@keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.fadeInLeftBig
{
	-PREFIXED_PROPERTY-animation-name: fadeInLeftBig;
}

_PREFIXED_@keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.fadeInRightBig
{
	-PREFIXED_PROPERTY-animation-name: fadeInRightBig;
}

_PREFIXED_@keyframes enterInLeft
{
	0% {
		-PREFIXED_PROPERTY-transform: translateX(-500px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.enterInLeft
{
	-PREFIXED_PROPERTY-animation-name: enterInLeft;
}

_PREFIXED_@keyframes enterInRight
{
	0% {
		-PREFIXED_PROPERTY-transform: translateX(500px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.enterInRight
{
	-PREFIXED_PROPERTY-animation-name: enterInRight;
}

_PREFIXED_@keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

.fadeIn
{
	-PREFIXED_PROPERTY-animation-name: fadeIn;
}

/*

	background-colorx:#3D6AA2;
	background-colorx:rgba(10, 60, 150, 0.7);
	
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

	colorx:rgb(61, 106, 162);

	colorx:rgba(10, 60, 150, 0.5);
	
	font-family: georgia, palatino, "times new roman", serif;
	'PT Sans Narrow', 
	Calibri, 
	'Myriad Pro', 
	
	
	
	colorx:rgb(61, 106, 162);
	colorx:rgba(10, 60, 150, 0.7);
	colorx:rgba(0, 0, 0, 0.1);
	color:rgba(255, 255, 255, 1);
	colorx: #333300;


	background-color:#276195;
	background-colorx:rgba(10, 60, 150, 0.6);
	background-colorx:#efefef;
	
	background-image: -moz-linear-gradient(#3c88cc,#276195);
	background-image: -ms-linear-gradient(#3c88cc,#276195);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));
	background-image: -webkit-linear-gradient(#3c88cc,#276195);
	background-image: -o-linear-gradient(#3c88cc,#276195);
	
	border-bottomx:4px solid rgb(61, 106, 162);
	border-bottom:4px solid #333333;

box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);


	border-bottom-right-radius:100px;


	text-shadowx:2px 2px 2px rgba(255, 255, 255, 0.3), 0 0 0 rgba(0, 0, 0, 0.8);

	text-shadow: 3px 3px 0 rgba(0,0,0,0.35);

	font-family:georgia, palatino, "times new roman", serif;
	*/

