@charset "utf-8";

@namespace epub 'http://www.idpf.org/2007/ops'

{
    background:#666666;
    color:#fff;
    text-shadow:none;
}

::-webkit-selection,
::-moz-selection,
::-ms-selection,
::-o-selection,
::selection
{
    background:#666666;
    color:#fff;
    text-shadow:none;
}

.animateStart
{
    -webkit-animation-iteration-count:1 !important;
    -moz-animation-iteration-count:1 !important;
    -ms-animation-iteration-count:1 !important;
    -o-animation-iteration-count:1 !important;
	animation-iteration-count:1 !important;
}

*[hidden]{
    display:none;
}

.bigger
{
    font-size:larger;
}
.smaller
{
    font-size:smaller;
}

a:link
{
    color:#003399;
    text-decoration:none;
}
a:visited
{
    color:#003399;
    text-decoration:none;
}
a:hover
{
    color:#0066FF;
    text-decoration:underline;
}
a:active
{
    color:#0066FF;
    text-decoration:none;
}

*
{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    margin:0;
    padding:0;
}

html
{
    background-color:#333333;

    -webkit-background-clip:border-box;
    -webkit-background-origin:padding-box;
    -webkit-background-size:auto;

    -moz-background-clip:border-box;
    -moz-background-origin:padding-box;
    -moz-background-size:auto;
	
    -ms-background-clip:border-box;
    -ms-background-origin:padding-box;
    -ms-background-size:auto;

    -o-background-clip:border-box;
    -o-background-origin:padding-box;
    -o-background-size:auto;
	
    background-attachment:scroll;
    background-clip:border-box;
    background-image:url(../img/back.png);
    background-origin:padding-box;
    background-size:auto;
    box-sizing:border-box;
}

body:not(.epubReadingSystem)
{
    border-radius:20px;
}

body.epubReadingSystem *.notEpubReadingSystem
{
	display: none;
}

body
{
    background-color:#efefef;
    background-color:white;

    /*
	background-image: url('../img/paper.jpg');
	background-repeat: no-repeat;
	background-position: stretch;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	*/


    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -ms-box-sizing:content-box;
    -o-box-sizing:content-box;
    box-sizing:content-box;

    /*
-webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 1), inset 0px -10px 80px rgba(190, 160, 150, 0.4);
-moz-box-shadow: 0 0 60px rgba(0, 0, 0, 1), inset 0px -10px 80px rgba(190, 160, 150, 0.4);
-ms-box-shadow: 0 0 60px rgba(0, 0, 0, 1), inset 0px -10px 80px rgba(190, 160, 150, 0.4);
-o-box-shadow: 0 0 60px rgba(0, 0, 0, 1), inset 0px -10px 80px rgba(190, 160, 150, 0.4);
box-shadow: 0 0 60px rgba(0, 0, 0, 1), inset 0px -10px 80px rgba(190, 160, 150, 0.4);
*/

    -webkit-box-shadow:0 0 50px rgba(0, 0, 0, 1);
    -moz-box-shadow:0 0 50px rgba(0, 0, 0, 1);
    -ms-box-shadow:0 0 50px rgba(0, 0, 0, 1);
    -o-box-shadow:0 0 50px rgba(0, 0, 0, 1);
    box-shadow:0 0 50px rgba(0, 0, 0, 1);


    font-size:60px;

    font-family:Tahoma, verdana, arial, sans-serif;
	
    width:1290px;
    height:1000px;

    display:block;

    position:absolute;

    overflow:hidden;
}

img.full
{
    opacity:1;

    position:absolute;

    top:0;
    left:0;

    width:1290px;
    height:1000px;

    z-index:0;
}

img.hr
{
    position:absolute;

    bottom:10px;
    left:430px;

    z-index:9;

    width:400px;
    height:40px;
}

/*
html.resized > body:not(.epubReadingSystem)
{
	margin-left: -645px;
	margin-top: -500px;

	top: 50%;
	left: 50%;
}
*/

h1
{
    margin:0;
    margin-right:270px;
    padding:0.4em;
    padding-top:0.3em;

    colorx:rgb(61, 106, 162);
    colorx:rgba(10, 60, 150, 0.7);
    colorx:rgba(0, 0, 0, 0.1);
	color:rgba(255, 255, 255, 1);
	colorx: #333300;


    background-color:#276195;
    background-colorx:rgba(10, 60, 150, 0.6);
    background-colorx:#efefef;
	
	background-image: -moz-linear-gradient(#3c88cc,#276195);
	background-image: -ms-linear-gradient(#3c88cc,#276195);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));
	background-image: -webkit-linear-gradient(#3c88cc,#276195);
	background-image: -o-linear-gradient(#3c88cc,#276195);
	
    border-bottomx:4px solid rgb(61, 106, 162);
    border-bottom:4px solid #333333;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);	 */


    border-bottom-right-radius:100px;


    text-shadowx:2px 2px 2px rgba(255, 255, 255, 0.3), 0 0 0 rgba(0, 0, 0, 0.8); /* , 2px 2px 4px rgba(255, 255, 255, 0.1); */

	text-shadow: 3px 3px 0 rgba(0,0,0,0.35);

    font-size:110%;

    /*	font-family: georgia, palatino, "times new roman", serif;
	'PT Sans Narrow', 
	Calibri, 
	'Myriad Pro', 
	*/
    font-family:Tahoma, "arial black", verdana, arial, sans-serif;

    line-height:1em;
    letter-spacing:0.03em;
}

div.portrait
{
	position:absolute;

    top:170px;
    right:130px;

    z-index:10;
	
	/*
    -webkit-transform:rotate(6deg); 
       -moz-transform:rotate(6deg);     
        -ms-transform:rotate(6deg);     
         -o-transform:rotate(6deg); 
            transform:rotate(6deg);
	*/
}

div.portrait p
{
	text-align: left;
	text-transform:uppercase;
	line-height: 0.9em;
	font-size: 70%;
	    font-family:"arial black", verdana, arial, sans-serif;
}

/*
div.portrait p span.fade
{
	letter-spacing:0.26em;
}
*/

div.portrait img
{	
	border: 10px solid black;

    -webkit-box-shadow:3px 3px 9px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:3px 3px 9px rgba(0, 0, 0, 0.5);
    -ms-box-shadow:3px 3px 9px rgba(0, 0, 0, 0.5);
    -o-box-shadow:3px 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow:3px 3px 9px rgba(0, 0, 0, 0.5);
}

img#logo
{
    position:absolute;

    top:10px;
    right:40px;

    z-index:10;
}

img#logoSmaller
{
	/*
    -webkit-transform:rotate(10deg); 
       -moz-transform:rotate(10deg);     
        -ms-transform:rotate(10deg);     
         -o-transform:rotate(10deg); 
            transform:rotate(10deg);
	*/
			
    position:absolute;

    top:20px;
    right:40px;

    z-index:10;
	
	width: 9%;
	
	opacity: 0.3;
}

img.html
{
    position:absolute;

    bottom:100px;
    left:160px;

    z-index:10;

    width:200px;
    height:200px;
}

div#root
{
    top:0px;
    left:0px;

    position:absolute;

    display:block;

    z-index:5;

    width:100%;
    height:100%;

    overflow:auto;
}


section#content
{
    /* background-color: white;
	background-color: rgba(240,240,240,0.9); */

    padding:10px;
    margin:20px;
}

section#content > p
{
    margin-left:1em;
}

ol,ul
{
    list-style-type:square;

    margin-left:1.5em;
    margin-top:0;

    font-size:90%;
}

ol li,ul li
{
    font-weight:900;
    margin-bottom:0.6em;
}

.fade
{
    opacity:0.6;
}

li .fade
{
    font-family:georgia, palatino, "times new roman", serif;
    font-weight:400;
}

ol.col3 li
{
    float:left;
    display:inline;
    width:33.33333%;

    list-style-type:none;
}

ol.col4 li
{
    float:left;
    display:inline;
    width:25%;

    list-style-type:none;
}

#notes
{
	display: none;
}

html#nav ol
{
    list-style-type:none;
    counter-reset:item;
    margin-top:0.4em;
	    margin-left:0.4em;

    font-size:66%;
}

html#nav ol li
{
    float:left;
    display:inline;
    width:50%;

    margin-top:0.2em;

    list-style-type:none;
	
	
	padding-right: 0em;
}

html#nav ol li:before
{
	font-family:Tahoma, "arial black", verdana, arial, sans-serif;
    font-size:80%;
	
	margin-right: 0.3em;
	
	color: #efefef;
    background-color: #333333;
    background-colorx: #efefef;
	
	border-radius: 0.5em;
	
	padding: 0.2em;
	padding-right: 0.4em;
	padding-left: 0.4em;
    
	counter-increment:item;
    content:counter(item);
}

a#prevLink,
a#nextLink,
a#tocLink,
a#epubReadingSystemLink
{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;

    text-transform:uppercase;

    font-family:arial, helvetica, sans-serif;
    font-weight:bold;

    font-size:25px;

    margin:0px;

    padding:10px;
    padding-bottom:6px;

    background-color:#eeeeee;

    /* border: 2px solid #aaaaaa; */

    border-radius:10px;

    position:absolute;
    z-index:20;
    bottom:10px;

    /*
	-webkit-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
	*/
}


a#prevLink:link,
a#nextLink:link,
a#epubReadingSystemLink:link,
a#prevLink:visited,
a#nextLink:visited,
a#epubReadingSystemLink:visited,
a#prevLink:active,
a#nextLink:active,
a#epubReadingSystemLink:active,
a#tocLink:active,
a#tocLink:link,
a#tocLink:visited
{
    color:#3D6AA2;
}

a#prevLink:hover,
a#nextLink:hover,
a#tocLink:hover,
a#epubReadingSystemLink:hover
{
    background-color:#003399;
    color:white;
    text-decoration:none;
}

a#tocLink
{
    padding:10px;
    padding-bottom:2px;
    padding-top:4px;

    left:620px;
    /*
    margin: 50% auto 0 0;
	*/
}


a#prevLink,
a#epubReadingSystemLink
{
    left:15px;
}

a#nextLink
{
    right:15px;
}

nav#pageList
{
    display:none;
}
nav[epub|type ~= 'page-list']
{
    display:none;
}

code
{
    padding:0;
    margin:0;
    font-size:70%;
}

div.code
{
    background:#FFF;

    margin-right:90px;

    padding:0.3em;

    font-size:80%;

    z-index:15;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

a.codelink
{
    font-family:Tahoma, verdana, arial, sans-serif;

    font-size:50%;
    font-weight:400;
    float:right;

    margin-right:90px;

}

div.box
{

    background:#FFF;

    /* margin:40px auto; */

    padding:0.5em;

    font-size:80%;

    z-index:15;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

div.daisybox
{
    position:absolute;

    bottom:120px;

    right:100px;
    left:100px;

}

img.epub
{
    position:absolute;

    bottom:125px;
    right:120px;

    z-index:16;

    width:200px;
    height:200px;
}

div.box a
{
    font-family:Tahoma, verdana, arial, sans-serif;

    font-size:70%;
}

div.daisybox a
{
    floatx: right;
	text-alignx: right;
}

div.daisybox span.quote
{
    floatx:right;
}

img.daisy
{
    position:absolute;

    bottom:100px;
    right:120px;

    z-index:16;

    width:200px;
    height:200px;
}

span.quote
{
    font-weight:900;
    color:#333333;
    font-size:90%;
    font-family:georgia, palatino, "times new roman", serif;
}

.red
{
    color:#FF3333 !important; /* D00000 */
}

.blue
{
    color:#0099FF !important;
}

.green
{
    color:#66FF33 !important; /* 66CC00 */
}


.-epub-media-overlay-active
{
    background-color:#003399;
    color:white;
}

p.mo
{

    -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    -moz-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    -ms-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    -o-box-shadow:0 0 20px rgba(0, 0, 0, 1);
    box-shadow:0 0 20px rgba(0, 0, 0, 1);

	
	
    background-color: white;
    color: black;


    position:absolute;

    top:200px;
    left:40px;
    width:680px;

    padding:30px;

    font-family:Tahoma, "arial black", verdana, arial, sans-serif;

    line-height:1.5em;
    letter-spacing:0.03em;

    font-weight:900;

    text-align:center;
	
	
	z-index:1;
	
	/*
	NOTES:
	-webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
	-webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
	Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
	*/
	-webkit-border-top-left-radius:180px 140px;
	-webkit-border-top-right-radius:180px 140px;
	-webkit-border-bottom-right-radius:180px 140px;
	-webkit-border-bottom-left-radius:180px 140px;
	
	-moz-border-radius:180px / 140px;
	-ms-border-radius:180px / 140px;
	-o-border-radius:180px / 140px;
	border-radius:110px / 110px;
	
	border: 7px solid black;

	margin-right:30px;
}

p.mo:before {
	content:"";
	position:absolute;
	bottomx:-20px; /* value = - border-top-width - border-bottom-width */
	leftx:40px; /* controls horizontal position */
    border-widthx:20px 20px 0;
	border-style:solid;
    border-colorx:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
	
	top:220px; /* controls vertical position */
		bottom:auto;
	    left:auto;
		right:-80px; /* value = - border-left-width - border-right-width */
		border-width:40px 0 40px 80px;
		border-color:transparent black;
}

/* creates the smaller  triangle */
p.mo:after {
	content:"";
	position:absolute;
	
	bottomx:-13px; /* value = - border-top-width - border-bottom-width */
	leftx:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	
	border-widthx:13px 13px 0;
	border-style:solid;
	border-colorx:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
	
	top:227px; /* value = (:before top) + (:before border-top) - (:after border-top) */
		bottom:auto;
	    left:auto;
		right:-60px; /* value = - border-left-width - border-right-width */
		border-width:33px 0 33px 64px;
		border-color:transparent white;
}

p.mo > span
{
	/*
    -webkit-transition-property:background-color;
    -webkit-transition-duration:1s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0s;
	*/

    padding:10px;

    border-radius:20px;
}




/*
.effect6
{
  	position:relative;       
	
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect6:before, .effect6:after
{
	content:"";
    position:absolute; 
    z-index: -1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect6:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.effect7
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

.effect8
{
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  
*/
