@charset "utf-8";

@namespace epub 'http://www.idpf.org/2007/ops';

/*
==============================================================================

Font faces

==============================================================================



http://fortawesome.github.io/Font-Awesome/cheatsheet/
*/

@font-face
{
	font-family: 'FontAwesome';
	src: url('FontAwesome.woff') format('woff')
	/* url('FontAwesome.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_400.woff') format('woff')
	/* ,url('Neuton_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Neuton';
	src: url('Neuton_700.woff') format('woff')
	/* ,url('Neuton_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_400.woff') format('woff')
	/* ,url('Arvo_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Arvo';
	src: url('Arvo_700.woff') format('woff')
	/* ,url('Arvo_700.ttf') format('truetype') */
	;
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_400.woff') format('woff')
	/* ,url('Lato_400.ttf') format('truetype') */
	;
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: 'Lato';
	src: url('Lato_900.woff') format('woff')
	/* ,url('Lato_900.ttf') format('truetype') */
	;
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: 'InconsolataMedium';
	src: url('Inconsolata.woff') format('woff')
	/* ,url('Inconsolata.ttf') format('truetype') */
	;
	font-weight: normal;
	font-style: normal;
}

/*

http://www.entypo.com/characters/

@font-face
{
	font-family: 'Entypo';
	font-weight: normal;
	font-style: normal;
	src:url(Entypo.woff) format('woff')
	;
}
*/
	/* ,url('Entypo.ttf') format('truetype') */

/*
==============================================================================

Globals

==============================================================================
*/

*,
*:before,
*:after
{
	-PREFIXED_PROPERTY-box-sizing:border-box;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

em
{
	border-bottom: 0.08em #333333 dotted;
}

_PREFIXED_@keyframes onoff
{
from
{
	opacity: 0;
}

to
{
	opacity: 1;
}
}

.fade
{
	opacity:0.6;
}

_PREFIXED_::selection
{
	background:#0066FF;
	color:#fff;
	text-shadow:none;
}

a:link
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 0.08em #0066FF dotted;
}
a:visited
{
	color:#003399;
	text-decoration:none;
	
	border-bottom: 0.08em #0066FF dotted;
}
a:hover
{
	color:#0066FF;
	text-decoration:underline;
	
	border: none;
}
a:active
{
	color:#0066FF;
	text-decoration:none;
	
	border-bottom: 0.08em #0066FF dotted;
}

table
{
	border-spacing:0;
	border-collapse:collapse;
}

table.spaceLined
{
	width: 95%;
}

table.spaceLined td
{
	border-top: 0.08em solid #eeeeee;
	
}

table.spaceLined tr:first-child td
{
	border-top: none;
}

img
{
	-webkit-transform: translateZ(0);
	-PREFIXED_PROPERTY-backface-visibility: hidden;
}

img.full
{
	position:absolute;

	top:0;
	left:0;

	width:VIEWPORT_WIDTHpx;
	height:VIEWPORT_HEIGHTpx;

	z-index:0;
}

.-epub-media-overlay-active
{
	background-color:#003399;
	color:white;
}

html:not(.basic) body.epb3sldrzr-epubReadingSystem *.epb3sldrzr-notEpubReadingSystem,
body:not(.epb3sldrzr-epubReadingSystem) *.epb3sldrzr-epubReadingSystem
{
	display:none;
}

#epb3sldrzr-notes,
nav#epb3sldrzr-pageList
{
	display:none;
}


span.keyboard
{
	border-radius: 0.2em;
	
	padding-left: 0.2em;
	padding-right: 0.2em;

	background-color: #D0D0D0;
	
	border-top: 0.12em solid #E0E0E0;
	border-left: 0.12em solid #E0E0E0;
	border-bottom: 0.12em solid #A8A8A8;
	border-right: 0.12em solid #A8A8A8;
}

html:not(.operax) span.symbols
{
	font-family: FontAwesome, Lato, sans-serif;
	font-size: 1.2em;
}

div.paper
{
	background: white;
	-PREFIXED_PROPERTY-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.code
{
	font-weight: 400;
	font-family: InconsolataMedium, monospace;
}



nav[epub|type~='page-list']
{
	display:none;
}


*[hidden]
{
	display:none;
}



/*
==============================================================================

Major structural elements

==============================================================================
*/

html
{
	font-size: 62.5%;
	/* 1.4rem == 14px */
	
	background-color: black;
	
	/*
	-PREFIXED_PROPERTY-background-clip:border-box;
	-PREFIXED_PROPERTY-background-origin:padding-box;
	-PREFIXED_PROPERTY-background-size:auto;
	-PREFIXED_PROPERTY-background-attachment:scroll;
	-PREFIXED_PROPERTY-background-image:url(../img/back.png);
	*/
}

html:not(.basic) body:not(.epb3sldrzr-epubReadingSystem),
html.basic body.epb3sldrzr-epubReadingSystem
{
	-webkit-font-smoothing: subpixel-antialiased;
	
	-PREFIXED_PROPERTY-user-select:none;
}

body
{
	/*
	-webkit-text-size-adjust:none;
	*/
	
	background-color: black;
	
	display:block;

	position:absolute;

	width:VIEWPORT_WIDTHpx;
	height:VIEWPORT_HEIGHTpx;

	overflow:hidden;

	font-size: FONT_SIZEpx;
	font-size: FONT_SIZErem;
	
	font-weight: 400;
	font-family: Lato, Tahoma, verdana, arial, sans-serif;

	border-right: 0.08em solid transparent;
	border-left: 0.08em solid transparent;
}

html:not(.static):not(.basic) body.epb3sldrzr-epubReadingSystem
{
	border-right: 0.08em solid #aaaaaa;
	border-left: 0.08em solid #aaaaaa;
}

body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body
{
	visibility: hidden;
}

body div#epb3sldrzr-body
{
	display:block;

	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;

	overflow:hidden;
	
	background-color:white;
}



body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body,
html.basic body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body
{
	border-radius: FONT_SIZE_HALFpx;
	border-radius: FONT_SIZE_HALFrem;

	/*
	-PREFIXED_PROPERTY-box-shadow:0 0 FONT_SIZEpx rgba(0, 0, 0, 1);
	*/
}

html.static body.epb3sldrzr-epubReadingSystem div#epb3sldrzr-body
{
	border-radius: FONT_SIZEpx;
	border-radius: FONT_SIZErem;
}



body:not(.epb3sldrzr-epubReadingSystem) div#epb3sldrzr-body.epb3sldrzr-animated
{
	-PREFIXED_PROPERTY-animation-duration: 0.5s;
	-PREFIXED_PROPERTY-animation-delay: 0s;
}


div#epb3sldrzr-root
{
	display:block;

	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;
	
	z-index:5;

	overflow:auto;

	-webkit-overflow-scrolling: touch;
}


/*
==============================================================================

Incrementals (slide "bullet points")

==============================================================================
*/

html:not(.basic) body.epb3sldrzr-epubReadingSystem .incremental,
html:not(.basic) body.epb3sldrzr-epubReadingSystem .incremental > *
{
	visibility: visible;
	opacity: 1;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental:not([incremental-active]),
html.basic body.epb3sldrzr-epubReadingSystem .incremental:not([incremental-active])
{
	visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental > *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental > *
{
	opacity: 1;
}

/*html:not(.mobile)
html:not(.basic)
html:not(.IE):not(.opera)
 */
body:not(.epb3sldrzr-epubReadingSystem) .incremental:not(.fade-active) > *
{
	-PREFIXED_PROPERTY-transition: opacity 500ms ease-in-out 0ms;
}

/*html:not(.mobile)*/
body:not(.epb3sldrzr-epubReadingSystem) .incremental,
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental,
html.basic body.epb3sldrzr-epubReadingSystem .incremental > *
{
	-PREFIXED_PROPERTY-backface-visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental:not([incremental-active]) > *,
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-selected] ~ *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental:not([incremental-active]) > *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental > *[aria-selected] ~ *
{
	opacity: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active[incremental-active] > *,
body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active > *[aria-selected] ~ *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental.fade-active[incremental-active] > *,
html.basic body.epb3sldrzr-epubReadingSystem .incremental.fade-active > *[aria-selected] ~ *
{
	opacity: 0.4;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-selected],
html.basic body.epb3sldrzr-epubReadingSystem .incremental > *[aria-selected],
body:not(.epb3sldrzr-epubReadingSystem) .incremental > *[aria-activedescendant],
html.basic body.epb3sldrzr-epubReadingSystem .incremental > *[aria-activedescendant]
{
	opacity: 1 !important;
}

body:not(.epb3sldrzr-epubReadingSystem) .incremental.fade-active > *[aria-selected],
html.basic body.epb3sldrzr-epubReadingSystem .incremental.fade-active > *[aria-selected]
{
	font-weight: 900;
}


/*
==============================================================================

Title

==============================================================================
*/

span#epb3sldrzr-subtitle
{
	opacity: 0.7;
}

h1#epb3sldrzr-title
{
	font-size: 1.3em;
	
	font-weight: 900;
	
	letter-spacing:0.03em;
	
	padding-left: FONT_SIZE_HALFpx;
	padding-left: FONT_SIZE_HALFrem;
	
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	color:rgba(0, 0, 0, 0.5);

	text-shadow: 0.06em 0.06em 0.11em rgba(255, 255, 255, 1), 0 0 0 rgba(0, 0, 0, 0.5); /* 2px 2px 4px white; */

	background-color:#efefef;
	
	background: rgb(238,238,238);
}

html#epb3sldrzr-NavDoc h1#epb3sldrzr-title
{
	border-bottom: 0.15em solid #CC3300;
}

html.static body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title
{
	border-top-left-radius: FONT_SIZEpx;
	border-top-left-radius: FONT_SIZErem;
	
	border-top-right-radius: FONT_SIZEpx;
	border-top-right-radius: FONT_SIZErem;
}

body:not(.epb3sldrzr-epubReadingSystem) h1#epb3sldrzr-title,
html.basic body.epb3sldrzr-epubReadingSystem h1#epb3sldrzr-title
{
	border-top-left-radius: FONT_SIZE_HALFpx;
	border-top-left-radius: FONT_SIZE_HALFrem;
	
	border-top-right-radius: FONT_SIZE_HALFpx;
	border-top-right-radius: FONT_SIZE_HALFrem;
}


/*
==============================================================================

Logo

==============================================================================
*/


img#epb3sldrzr-logo
{
	position:absolute;
	z-index:10;
}

html#epb3sldrzr-NavDoc img#epb3sldrzr-logo
{
	bottom: 30px;
	left: 50px;
}

html:not(#epb3sldrzr-NavDoc) img#epb3sldrzr-logo
{
	top: 10px;
	right: 25px;

	width: 200px;
	height: 83px;
}


/*
==============================================================================

Links

==============================================================================
*/

html:not(.operax) a#epb3sldrzr-link-toc:before,
html:not(.operax) a#epb3sldrzr-link-next:before,
html:not(.operax) a#epb3sldrzr-link-previous:before,
html:not(.operax) a#epb3sldrzr-link-epub:before
{
	font-size: 2.2em;

	font-weight: 400;
	font-family: 'FontAwesome';
}

html:not(.operax) a#epb3sldrzr-link-epub:before
{
	content: "\f02d";
}

html:not(.operax) a#epb3sldrzr-link-toc:before
{
	content: "\f0ca";
}

html:not(.operax) a#epb3sldrzr-link-previous:before
{
	content: "\f0a8";
}

html:not(.operax) a#epb3sldrzr-link-next:before
{
	content: "\f0a9";
}

a#epb3sldrzr-link-noteback,
a#epb3sldrzr-link-notesref,
a#epb3sldrzr-link-previous,
a#epb3sldrzr-link-next,
a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epub,
a#epb3sldrzr-link-epubReadingSystem
{
	font-weight: 400;

	font-size: 0.5em;

	text-transform:uppercase;

	padding-left: 0.5em;
	padding-right: 0.5em;

	/*
	background-color:#eeeeee;
	*/

	border-radius: 0.4em;


	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:link,
a#epb3sldrzr-link-noteback:visited,
a#epb3sldrzr-link-noteback:active,
a#epb3sldrzr-link-notesref:link,
a#epb3sldrzr-link-notesref:visited,
a#epb3sldrzr-link-notesref:active,
a#epb3sldrzr-link-previous:link,
a#epb3sldrzr-link-previous:visited,
a#epb3sldrzr-link-previous:active,
a#epb3sldrzr-link-next:link,
a#epb3sldrzr-link-next:visited,
a#epb3sldrzr-link-next:active,
a#epb3sldrzr-link-epubReadingSystem:link,
a#epb3sldrzr-link-epubReadingSystem:visited,
a#epb3sldrzr-link-epubReadingSystem:active,
a#epb3sldrzr-link-toc:link,
a#epb3sldrzr-link-toc:visited,
a#epb3sldrzr-link-toc:active
a#epb3sldrzr-link-epub:link,
a#epb3sldrzr-link-epub:visited,
a#epb3sldrzr-link-epub:active
{
	color:#3D6AA2;

	border-bottom: none;
	text-decoration:none;
}

a#epb3sldrzr-link-noteback:hover,
a#epb3sldrzr-link-notesref:hover,
a#epb3sldrzr-link-previous:hover,
a#epb3sldrzr-link-next:hover,
a#epb3sldrzr-link-toc:hover,
a#epb3sldrzr-link-epub:hover,
a#epb3sldrzr-link-epubReadingSystem:hover
{
	background-color:#003399;
	color:white;

	border-bottom: none;
	text-decoration:none;
}


a#epb3sldrzr-link-toc:link,
a#epb3sldrzr-link-toc:visited,
a#epb3sldrzr-link-toc:active
{
	color: #999999;
}

a#epb3sldrzr-link-toc:hover
{
	background-color:#33CC00;
	color:white;
}

a#epb3sldrzr-link-noteback
{
	float: right;
	margin-right: 1em;
}

div#epb3sldrzr-controls
{
	position:absolute;
	z-index:20;

	left: 0px;
	bottom:0px;
	width: 100%;
	
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	background-color: transparent;
	
	/*
	
	background-color: rgba(255,255,255,0.6);
	*/
}

a#epb3sldrzr-link-epub
{
	bottom: auto;
	top: 25px;
	right: 20px;
}


a#epb3sldrzr-link-toc,
a#epb3sldrzr-link-epubReadingSystem
{
	float: left;
	margin-left: 1em;
}


a#epb3sldrzr-link-notesref
{
	float: right;
	
	margin-right: 2em;
}

a#epb3sldrzr-link-next
{
	float: right;
	margin-right: 1em;
}

a#epb3sldrzr-link-previous
{
	float: right;
	margin-right: 0.5em;
}

html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-noteback,
html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-notesref,
html:not(.basic) body.epb3sldrzr-epubReadingSystem a#epb3sldrzr-link-epub,
html#epb3sldrzr-NavDoc a#epb3sldrzr-link-toc
{
	display: none !important;
}


/*
==============================================================================

Lists

==============================================================================
*/

ul,
ol
{
	margin-left: 1em;
}

ul
{
	list-style-type:square;
}

ol
{
	list-style-type:none;
	counter-reset:item;
}

ol > li:before
{
	font-weight: 900;
	
	font-size: 0.7em;
	
	color: #efefef;
	background-color: #555555;
	
	border-radius: 0.9em;
	
	padding: 0.3em;
	padding-right: 0.6em;
	padding-left: 0.6em;
	
	margin-right: 0.6em;
	
	counter-increment:item;
	content:counter(item);
}

/*
==============================================================================

NavDoc lists

==============================================================================
*/


/* 

html#epb3sldrzr-NavDoc div#epb3sldrzr-root
{
	overflow: visible !important;
	overflow-x: scroll !important;
	overflow-y: visible !important;
}

min-width: 110%;

-PREFIXED_PROPERTY-column-width: 15em;


	white-space: no-wrap;

*/

html#epb3sldrzr-NavDoc ol
{
	margin: 0;
	padding: 0;
	
	-PREFIXED_PROPERTY-column-count: 2;
	-PREFIXED_PROPERTY-column-gap: 1em;
	-PREFIXED_PROPERTY-column-fill: auto;
	-PREFIXED_PROPERTY-column-rule: 0.12em dotted #eeeeee;
}

html#epb3sldrzr-NavDoc ol li a:link,
html#epb3sldrzr-NavDoc ol li a:hover,
html#epb3sldrzr-NavDoc ol li a:visited,
html#epb3sldrzr-NavDoc ol li a:active
{
	border-bottom: none;
}
	
html#epb3sldrzr-NavDoc ol li
{
	font-weight: 900;
	
	padding-bottom: 0.3em;
}

html#epb3sldrzr-NavDoc ol li:before
{
	color: #ffffff;
	background-color: #8AC007;
}

html#epb3sldrzr-NavDoc ol li:hover:before
{
	background-color: #FF0033;
}


html#epb3sldrzr-NavDoc.opera ol
{
	-o-column-count: auto;
	column-count: auto;
}	

html#epb3sldrzr-NavDoc.opera ol li
{
	/*
	float: left;
	display: inline;
	*/

	/* white-space: nowrap; */	
	display: inline-block;
	width:50%;
}


/*

==============================================================================

Slide content

==============================================================================

*/

#epb3sldrzr-content > *:not(.spread)
{
	padding-left: FONT_SIZEpx;
	padding-left: FONT_SIZErem;
	
	padding-right: FONT_SIZEpx;
	padding-right: FONT_SIZErem;

	margin-top: FONT_SIZE_HALFpx;
	margin-top: FONT_SIZE_HALFrem;
}


div.boxed > p,
div.boxed > ul,
div.boxed > ol,
div.boxed > div
{
	background-color: white;

	-PREFIXED_PROPERTY-box-shadow: 2px 2px 4px rgb(200, 200, 200); /* , 0 0 10px rgba(210, 220, 230, 1) inset; 0 0 50px rgba(0, 0, 0, 1) 0 0 40px rgba(0, 0, 0, 0.1) inset */

	border: 0.06em solid #888888; /* rgb(210, 220, 230); */

	border-bottom-left-radius: FONT_SIZE_HALFpx;
	border-bottom-left-radius: FONT_SIZE_HALFrem;
	
	border-bottom-right-radius: FONT_SIZE_HALFpx;
	border-bottom-right-radius: FONT_SIZE_HALFrem;
	
	border-top-right-radius: FONT_SIZE_HALFpx;
	border-top-right-radius: FONT_SIZE_HALFrem;

	padding-left: FONT_SIZE_HALFpx;
	padding-left: FONT_SIZE_HALFrem;
}

div.boxed > p,
div.boxed > ul,
div.boxed > ol,
div.boxed > div:not(.nopad)
{
	padding-top: FONT_SIZE_HALFpx;
	padding-top: FONT_SIZE_HALFrem;
	
	padding-bottom: FONT_SIZE_HALFpx;
	padding-bottom: FONT_SIZE_HALFrem;
}


div.boxed:not(.framed) > h3
{
	color: #CC3300;
	
	font-weight: 900;
	
	font-size: 0.96em;
	
	line-height: 1;
}

div.boxed:not(.framed) > h3 *
{
	line-height: 1;
}

div.boxed.framed > h3
{
	font-size: 0.8em;
	
	float: right;
	
	background: white;
	color: #CC3300;
	
	font-weight: 400;
	
	padding-left: 0.2em;
	padding-right: 0.2em;
}


div.boxed.framed > *
{
	border: 0.06em solid #888888;
}


/*
==============================================================================

Animations

==============================================================================
*/


body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	-PREFIXED_PROPERTY-animation-duration: 1s;
	-PREFIXED_PROPERTY-animation-fill-mode: both;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated
{
	/* 
	HW acceleration
	
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform: translateZ(0);
	
	-webkit-transform-style: preserve-3d;
	*/
	
	 /* 
	 animate.css 
	-PREFIXED_PROPERTY-backface-visibility: visible !important;
	 */
	 
	-PREFIXED_PROPERTY-backface-visibility: hidden;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
body:not(.epb3sldrzr-epubReadingSystem) .animated:not(.epb3sldrzr-animateStart)
{
	visibility: hidden;
}

.epb3sldrzr-animated:not(.epb3sldrzr-animateStart),
.animated:not(.epb3sldrzr-animateStart)
{
	-PREFIXED_PROPERTY-animation-iteration-count: 0;
}

body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animateStart
{
	visibility: visible !important;
	
	-PREFIXED_PROPERTY-animation-iteration-count: 1;
}

html.operax body:not(.epb3sldrzr-epubReadingSystem) .epb3sldrzr-animated:not(#epb3sldrzr-body)
{
	animation-iteration-count: 1 !important;
	-o-animation-iteration-count: 1 !important;
}

_PREFIXED_@keyframes bounceInDown
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateY(-1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateY(30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateY(-10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateY(0);
	}
}

.bounceInDown
{
	-PREFIXED_PROPERTY-animation-name: bounceInDown;
}


_PREFIXED_@keyframes bounceInUp
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateY(1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateY(-30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateY(10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateY(0);
	}
}

.bounceInUp
{
	-PREFIXED_PROPERTY-animation-name: bounceInUp;
}

_PREFIXED_@keyframes bounceInRight
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(-30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateX(10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.bounceInRight
{
	-PREFIXED_PROPERTY-animation-name: bounceInRight;
}

_PREFIXED_@keyframes bounceInLeft
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(-1000px);
	}
	
	60% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(30px);
	}
	
	80% {
		-PREFIXED_PROPERTY-transform: translateX(-10px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.bounceInLeft
{
	-PREFIXED_PROPERTY-animation-name: bounceInLeft;
}


_PREFIXED_@keyframes fadeInLeftBig
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(-1000px);
	}
	
	100% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.fadeInLeftBig
{
	-PREFIXED_PROPERTY-animation-name: fadeInLeftBig;
}

_PREFIXED_@keyframes fadeInRightBig
{
	0% {
		opacity: 0;
		-PREFIXED_PROPERTY-transform: translateX(1000px);
	}
	
	100% {
		opacity: 1;
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.fadeInRightBig
{
	-PREFIXED_PROPERTY-animation-name: fadeInRightBig;
}

_PREFIXED_@keyframes enterInLeft
{
	0% {
		-PREFIXED_PROPERTY-transform: translateX(-500px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.enterInLeft
{
	-PREFIXED_PROPERTY-animation-name: enterInLeft;
}

_PREFIXED_@keyframes enterInRight
{
	0% {
		-PREFIXED_PROPERTY-transform: translateX(500px);
	}
	
	100% {
		-PREFIXED_PROPERTY-transform: translateX(0);
	}
}

.enterInRight
{
	-PREFIXED_PROPERTY-animation-name: enterInRight;
}

_PREFIXED_@keyframes fadeIn
{
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

.fadeIn
{
	-PREFIXED_PROPERTY-animation-name: fadeIn;
}


h1#epb3sldrzr-title
{	
	background: -moz-linear-gradient(left,  rgba(237,237,237,1) 0%, rgba(250,250,250,1) 70%, rgba(255,255,255,0) 100%);

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(70%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,0)));

	background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: -o-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: -ms-linear-gradient(left,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	background: linear-gradient(to right,  rgba(237,237,237,1) 0%,rgba(250,250,250,1) 70%,rgba(255,255,255,0) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 );
}



.epb3sldrzr-author-INIT
{
	position: absolute;
	left: 0;
	top: 0;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
}