<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:epub="http://www.idpf.org/2007/ops"
    epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0/"
    xmlns:m="http://www.w3.org/1998/Math/MathML"
    xmlns:svg="http://www.w3.org/2000/svg"
    id="epb3sldrzr-Slide_{{{SLIDE_NUMBER}}}"
    lang="{{{slideShow.LANGUAGE}}}"
    xml:lang="{{{slideShow.LANGUAGE}}}"
    {{#slideShow.REFLOW}}style="background-color: white;"{{/slideShow.REFLOW}}
    >
    <head>
        <meta charset="UTF-8"/>

        <meta content="{{{slideShow.GENERATOR}}}" name="description"/>
        <meta content="{{{slideShow.KEYWORDS}}}" name="keywords"/>
        
        <title>({{{SLIDE_NUMBER}}}/{{{slideShow.slides.size}}}) {{slideShow.TITLE}}{{#slideShow.SUBTITLE}} - {{slideShow.SUBTITLE}}{{/slideShow.SUBTITLE}} / {{TITLE}}{{#SUBTITLE}} - {{SUBTITLE}}{{/SUBTITLE}}</title>

        <meta content="{{{SLIDE_NUMBER}}}" name="slideIndex"/>
        <meta content="{{{slideShow.slides.size}}}" name="slideCount"/>
        
        <link href="../{{{slideShow.FAVICON_FOLDER}}}/{{{slideShow.FAVICON}}}" rel="shortcut icon"/>
        
        {{#slideShow.TOUCHICON}}
        <link href="../{{{slideShow.FOLDER_IMG}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{slideShow.TOUCHICON}}}" rel="apple-touch-icon"/>
        {{/slideShow.TOUCHICON}}
        
        {{#slideShow.CSS_FONTS}}
        <link href="{{{slideShow.FOLDER_FONTS}}}/{{{FILE}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.CSS_FONTS}}
        
        {{#slideShow.CSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{FILE}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.CSSs}}
        
        {{#slideShow.xCSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.xCSSs}}
        
        {{#xCSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/xCSSs}}
        
        {{#slideShow.xCSSs_FONTS}}
        <link href="{{{slideShow.FOLDER_FONTS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.xCSSs_FONTS}}
        
        {{#xCSSs_FONTS}}
        <link href="{{{slideShow.FOLDER_FONTS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/xCSSs_FONTS}}
        
        {{#slideShow.FIXED}}
        {{#slideShow.JSs}}
        <script src="../{{{slideShow.FOLDER_JS}}}/{{{FILE}}}"> </script>
        {{/slideShow.JSs}}
        {{/slideShow.FIXED}}
        
        {{#slideShow.xJSs}}
        <script src="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}"> </script>
        <!-- link href="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" type="text/javascript" rel="script"/ -->
        {{/slideShow.xJSs}}
        
        {{#xJSs}}
        <script src="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}"> </script>
        <!-- link href="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" type="text/javascript" rel="script"/ -->
        {{/xJSs}}

        {{#NOT_FIRST}}
        <link href="{{{PREV_SLIDE_FILENAME}}}" rel="prev"/>
        {{/NOT_FIRST}}
        
        {{#NOT_LAST}}
        <link href="{{{NEXT_SLIDE_FILENAME}}}" rel="next"/>
        {{/NOT_LAST}}

        <link href="../{{{slideShow.NAV_SLIDE_FILENAME}}}" rel="nav"/>

        <link href="../{{{slideShow.PRINT_FILENAME}}}" rel="print"/>
        
        {{#NOT_FIRST}}
        <link href="{{{slideShow.FIRST_SLIDE_FILENAME}}}" rel="first"/>
        {{/NOT_FIRST}}
        
        {{#NOT_LAST}}
        <link href="{{{slideShow.LAST_SLIDE_FILENAME}}}" rel="last"/>
        {{/NOT_LAST}}
                
        <link href="../../../{{{slideShow.EPUB_FILE}}}" rel="epub"/>

        {{#NOTES}}
        <link href="{{{SLIDE_FILENAME_NOTES}}}" rel="notes"/>
        {{/NOTES}}
        
        {{#slideShow.CSS_STYLE}}
        <style type="text/css">
        /*<![CDATA[*/
        {{{slideShow.CSS_STYLING}}}
        /*]]>*/
        </style>
        {{/slideShow.CSS_STYLE}}

        {{#CSS_STYLE}}
        <style type="text/css">
        /*<![CDATA[*/
        {{{CSS_STYLING}}}
        /*]]>*/
        </style>
        {{/CSS_STYLE}}

		<style type="text/css">
        /*<![CDATA[*/
        
        {{#slideShow.backgroundImageCss}}{{{SLIDE_NUMBER}}}{{/slideShow.backgroundImageCss}}
       
        /*]]>*/
        </style>
       
        {{#slideShow.JS_SCRIPT}}
        <script>
        //<![CDATA[
        {{{slideShow.JS_SCRIPT}}}
        //]]>
        </script>
        {{/slideShow.JS_SCRIPT}}

        {{#JS_SCRIPT}}
        <script>
        //<![CDATA[
        {{{JS_SCRIPT}}}
        //]]>
        </script>
        {{/JS_SCRIPT}}

        {{#slideShow.FIXED}}
        
        {{^VIEWPORT_WIDTH}}
        {{^VIEWPORT_HEIGHT}}
        {{#slideShow.VIEWPORT_WIDTH}}
        {{#slideShow.VIEWPORT_HEIGHT}}
        <meta content="width={{{slideShow.VIEWPORT_WIDTH}}}, height={{{slideShow.VIEWPORT_HEIGHT}}}" name="viewport"/>
        {{/slideShow.VIEWPORT_HEIGHT}}
        {{/slideShow.VIEWPORT_WIDTH}}
        {{/VIEWPORT_HEIGHT}}
        {{/VIEWPORT_WIDTH}}
        
        {{#VIEWPORT_WIDTH}}
        {{#VIEWPORT_HEIGHT}}
        <meta content="width={{{VIEWPORT_WIDTH}}}, height={{{VIEWPORT_HEIGHT}}}" name="viewport"/>
        <style type="text/css">
        /*<![CDATA[*/
        
        {{#viewportOverrideCss}}{{{SLIDE_NUMBER}}}{{/viewportOverrideCss}}
       
        /*]]>*/
        </style>
        {{/VIEWPORT_HEIGHT}}
        {{/VIEWPORT_WIDTH}}
        {{/slideShow.FIXED}}
</head>

{{#slideShow.REFLOW}}<!-- REFLOWABLE LAYOUT -->{{/slideShow.REFLOW}}
{{#slideShow.FIXED}}<!-- FIXED LAYOUT -->{{/slideShow.FIXED}}

<body epub:type="bodymatter" {{#slideShow.REFLOW}}class="reflow"{{/slideShow.REFLOW}}>

{{#slideShow.BACKGROUND_AUDIO}}
<audio epub:type="ibooks:soundtrack" src="{{{slideShow.BACKGROUND_AUDIO}}}"> </audio>
{{/slideShow.BACKGROUND_AUDIO}}

{{#BACKGROUND_AUDIO}}
<audio epub:type="ibooks:soundtrack" src="{{{BACKGROUND_AUDIO}}}"> </audio>
{{/BACKGROUND_AUDIO}}

{{#slideShow.FIXED}}

    <div id="epb3sldrzr-body" {{#slideShow.REFLOW}}style="visibility: visible;"{{/slideShow.REFLOW}}>
        
        <div id="epb3sldrzr-root">

            {{#slideShow.LOGO}}
            <img id="epb3sldrzr-logo"
                 src="../{{{slideShow.FOLDER_IMG}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{slideShow.LOGO}}}"
                 alt=""/>
            {{/slideShow.LOGO}}

            {{#CONTENT_MIDDLE_ALIGN}}
            <h1 id="epb3sldrzr-title" {{#CONTENT_MIDDLE_ALIGN}}class="vertical-align"{{/CONTENT_MIDDLE_ALIGN}}>{{TITLE}}{{#SUBTITLE}} <span id="epb3sldrzr-subtitle">{{SUBTITLE}}</span>{{/SUBTITLE}}</h1>
            {{/CONTENT_MIDDLE_ALIGN}}

            <section id="epb3sldrzr-content">

                <div id="epb3sldrzr-anim-overflow" {{#CONTENT_MIDDLE_ALIGN}}class="vertical-align-middle"{{/CONTENT_MIDDLE_ALIGN}}>

                    <h1 id="epb3sldrzr-title{{#CONTENT_MIDDLE_ALIGN}}-void{{/CONTENT_MIDDLE_ALIGN}}" {{#CONTENT_MIDDLE_ALIGN}}style="display:none;"{{/CONTENT_MIDDLE_ALIGN}}>{{TITLE}}{{#SUBTITLE}} <span id="epb3sldrzr-subtitle{{#CONTENT_MIDDLE_ALIGN}}-void{{/CONTENT_MIDDLE_ALIGN}}">{{SUBTITLE}}</span>{{/SUBTITLE}}</h1>

<div id="epb3sldrzr-content-wrap" {{#CONTENT_MIDDLE_ALIGN}}class="vertical-middle"{{/CONTENT_MIDDLE_ALIGN}}>
                    {{{CONTENT_XHTML}}}
</div>

                    {{#NOTES}}
                    <a id="epb3sldrzr-link-notesref" epub:type="noteref" href="{{{SLIDE_FILENAME_NOTES}}}">Notes</a>
                    {{/NOTES}}
                </div>

                {{#NOTES}}
                <aside id="epb3sldrzr-notes" epub:type="footnote">
                    {{{NOTES_XHTML}}}
                </aside>
                {{/NOTES}}
             </section>
         </div>
     </div>

     {{#AUTHORize}}
     <div id="epb3sldrzr-markdown-editor" class="epb3sldrzr-markdown">{{{CONTENT_ORIGINAL}}}</div>
     <textarea id="epb3sldrzr-markdown-src" class="epb3sldrzr-markdown">{{{CONTENT_ORIGINAL}}}</textarea>
     {{/AUTHORize}}
{{/slideShow.FIXED}}

{{#slideShow.REFLOW}}

                    <h1 id="epb3sldrzr-title">{{TITLE}}{{#SUBTITLE}} <span id="epb3sldrzr-subtitle">{{SUBTITLE}}</span>{{/SUBTITLE}}</h1>

                    {{{CONTENT_XHTML}}}

{{/slideShow.REFLOW}}
</body>
</html>