<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:epub="http://www.idpf.org/2007/ops"
    xmlns:m="http://www.w3.org/1998/Math/MathML"
    xmlns:svg="http://www.w3.org/2000/svg"
    id="epb3sldrzr-SlideNotes_{{{SLIDE_NUMBER}}}"
    lang="{{{slideShow.LANGUAGE}}}"
    xml:lang="{{{slideShow.LANGUAGE}}}">
    <head>
        <meta charset="UTF-8"/>

        <meta content="{{{slideShow.GENERATOR}}}" name="description"/>
        <meta content="{{{slideShow.KEYWORDS}}}" name="keywords"/>
        
        <title>({{{SLIDE_NUMBER}}}/{{{slideShow.slides.size}}}) {{slideShow.TITLE}}{{#slideShow.SUBTITLE}} - {{slideShow.SUBTITLE}}{{/slideShow.SUBTITLE}} / {{TITLE}}{{#SUBTITLE}} - {{SUBTITLE}}{{/SUBTITLE}} (NOTES)</title>
        
        <link href="../{{{slideShow.FAVICON_FOLDER}}}/{{{slideShow.FAVICON}}}" rel="shortcut icon"/>
        
        {{#slideShow.TOUCHICON}}
        <link href="../{{{slideShow.FOLDER_IMG}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{slideShow.TOUCHICON}}}" rel="apple-touch-icon"/>
        {{/slideShow.TOUCHICON}}
        
        {{#slideShow.VIEWPORT_WIDTH}}
        {{#slideShow.VIEWPORT_HEIGHT}}
        <meta content="width={{{slideShow.VIEWPORT_WIDTH}}}, height={{{slideShow.VIEWPORT_HEIGHT}}}" name="viewport"/>
        {{/slideShow.VIEWPORT_HEIGHT}}
        {{/slideShow.VIEWPORT_WIDTH}}
        
        {{#slideShow.CSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{FILE}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.CSSs}}
        
        {{#slideShow.xCSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/slideShow.xCSSs}}
        
        {{#xCSSs}}
        <link href="../{{{slideShow.FOLDER_CSS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" rel="stylesheet" type="text/css"/>
        {{/xCSSs}}
        
        {{#slideShow.JSs}}
        <script src="../{{{slideShow.FOLDER_JS}}}/{{{FILE}}}"> </script>
        {{/slideShow.JSs}}
        
        {{#slideShow.xJSs}}
        <link href="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" type="text/javascript" rel="script"/>
        {{/slideShow.xJSs}}
        
        {{#xJSs}}
        <link href="../{{{slideShow.FOLDER_JS}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{.}}}" type="text/javascript" rel="script"/>
        {{/xJSs}}
        
        <link href="../../../{{{slideShow.EPUB_FILE}}}" rel="epub"/>

        {{#slideShow.CSS_STYLE}}
        <style type="text/css">
        {{{slideShow.CSS_STYLING}}}
        </style>
        {{/slideShow.CSS_STYLE}}

        {{#CSS_STYLE}}
        <style type="text/css">
        {{{CSS_STYLING}}}
        </style>
        {{/CSS_STYLE}}

        {{#slideShow.JS_SCRIPT}}
        <script>
        //<![CDATA[
        {{{slideShow.JS_SCRIPT}}}
        //]]>
        </script>
        {{/slideShow.JS_SCRIPT}}

        {{#JS_SCRIPT}}
        <script>
        //<![CDATA[
        {{{JS_SCRIPT}}}
        //]]>
        </script>
        {{/JS_SCRIPT}}
</head>
<body epub:type="bodymatter">
    <div id="epb3sldrzr-body">
        <div id="epb3sldrzr-root">

            {{#slideShow.LOGO}}
            <img id="epb3sldrzr-logo"
                 src="../{{{slideShow.FOLDER_IMG}}}/{{{slideShow.FOLDER_CUSTOM}}}/{{{slideShow.LOGO}}}"
                 alt=""/>
            {{/slideShow.LOGO}}

             <p><a id="epb3sldrzr-link-noteback" href="{{{SLIDE_FILENAME}}}">Back</a></p>
         
            <section id="epb3sldrzr-content">
                
                <div id="epb3sldrzr-anim-overflow">

                    <h1 id="epb3sldrzr-title">{{TITLE}}{{#SUBTITLE}} <span id="epb3sldrzr-subtitle">{{SUBTITLE}}</span>{{/SUBTITLE}}</h1>
                    
                    {{{NOTES_XHTML}}}
                </div>
             </section>
         </div>
     </div>
</body>
</html>